.block-activity-icons {
  margin:0;
  padding:0;
  display:block;

  li {
    display:inline-block;
    list-style-type:none;
    width:42px;
    height:42px;
    color:transparent;
    background-size:32px 32px;
    background-position:center;
    background-repeat:no-repeat;
    background-color:rgb(32, 153, 241);
    border:none;
    border-radius:$border-radius $border-radius;
    background-position: 5px 5px;
    padding:10px;
    line-height: 58px;
    cursor:pointer;

    &.outdoors {
      background-color:#4BAE4F;
    }

    &.sports {
      background-color:#FF9F00;
    }

    &.kids {
      background-color:#9B26AF;
    }

    &.water {
      background-color:#2095F2;
    }

    &.snow {
      background-color:#00BBD3;
    }

    @include media(max-width 720px) {
      width:25px;
      height:25px;
      background-size:15px 15px;
      line-height: 10px;
      font-size: 0px;
    }
  }
}
