.block-story {
  height:100%;
  width:100%;
  background-size:cover;
  background-position:center;
  position:relative;
  cursor:pointer;

  .details {

    padding-top: 2px;
    display:inline-block;
    max-width:100%;
    overflow:hidden;
    box-sizing: border-box;

    a {
      color: white;
      display: block;
      background-color: rgba(27,30,88,.5);
      padding: 0px 12px;
      margin: $box-padding $box-padding 0 $box-padding;
      overflow:hidden;
      box-sizing: border-box;
      float:left;
      max-width:95%;
    }

    a.main-link {
      display: block;
      width: 100%;
      padding: 5px 10px;
      font-size: 130%;
    }

    a.attribution-link {
      padding: 3px 0 3px 46px;
      background-position: 10px center;
      display: inline-block;
      height: 23px;
      background-size: auto 12px;
      width: 100%;
      margin-top: 0;
      background-color: rgba(0, 0, 0, 0.5);
      background-image: url('responsive2/blocks/story/flickr-logo.svg');
      background-repeat: no-repeat;
      font-size: 50%;
      line-height: 157%;
    }
  }

  @include media(max-width 720px) {
    .details {
      a {
        &.main-link {
          font-size:100%;
        }
        &.attribution-link {
          position:absolute;
          top:10px;
          right:0;
          width:50px;
          overflow:hidden;
          color:transparent;
          background-color:transparent;
          padding:0;
          margin:0;
        }
      }
    }
  }
}
