.block-activity-icons {
  margin:0;
  padding:0;
  display:block;

  @include media(max-width 720px) {
    margin-bottom:$box-padding-half;
  }

  li {
    display:inline-block;
    list-style-type:none;
    width:32px;
    height:32px;
    background-size:22px 22px;
    line-height: 1px;
    font-size: 0px;
    color:transparent;
    background-position:center;
    background-repeat:no-repeat;
    background-color:rgb(32, 153, 241);
    border:none;
    border-radius:$border-radius $border-radius;
    background-position: 5px 5px;
    padding:10px;
    cursor:pointer;

    &.outdoors {
      background-color:$activity-category-outdoors;
    }

    &.sports {
      background-color:$activity-category-sports;
    }

    &.kids {
      background-color:$activity-category-kids;
    }

    &.water {
      background-color:$activity-category-water;
    }

    &.snow {
      background-color:$activity-category-snow;
    }

  }
}
