.block-activity-filter {

  background-color:$color-notsodark;

  &.closed {
    .filter-drawer {
      height:0px;
      padding-bottom:0;
      -webkit-transition: width 1s;
    }

    .close-drawer-action {
      display:none;
    }

    .clear-activities-action {
      display:none;
    }

    .toggle-activities-drawer-action {

      &.many {
        font-weight:$font-weight-bold;
      }

      i {
        transform: rotate(0deg) !important;
      }
    }

  }

  .filter-handle {

    padding:7px 0;

    .action {

      i {
        float: left;
      }

      border:none;
      color:white;
      margin-top: 5px;
    }

    &.has .clear-activities-action {
      display:none;
    }

    .toggle-activities-drawer-action {
      i {
        background-image: url('/style/responsive2/menuArrow.svg');
        background-repeat: no-repeat;
        display:inline-block;
        width: 16px;
        height: 16px;

        background-size: 19px 14px;
        background-position: left;
        margin-right: $box-padding-half;

        transform: rotate(90deg);
        background-size: 19px 14px;

        transition:transform .10s;
      }
    }
  }

  .filter-drawer {
    overflow:auto;
    transition:.5s height;
    max-height: 46vh;
    margin:0 auto;
    width:95%;
    padding-bottom:$box-padding;
    text-align: center;
    height:100%;

    li {
      display: inline-block;
      width: 76px;
      text-align: center;
      vertical-align: top;
      float: left;
      font-size: 75%;
      height: 106px;
      padding: 0;

      .action {
        border:solid 0px transparent;
        display:inline-block;
        margin:0 auto;

        .activity-icon-container {
          width:45px;
          height:45px;
          margin:0 auto;
          background-color:$color-lighter;
          border-radius:$border-radius;
          padding-top: $box-padding-half;
          margin-bottom:$box-padding-half;

          img, svg {
            width:25px;
            height:25px;
          }

        }

        label {
          color:$light-font-color;
          text-align: center;
          width: 67px;
          display: inline-block;
          line-height: 1.3em;
        }
      }
    }

    &.has li .action, li .action.selected {
      .outdoors {
        background-color:$activity-category-outdoors;
      }

      .sports {
        background-color:$activity-category-sports;
      }

      .kids {
        background-color:$activity-category-kids;
      }

      .water {
        background-color:$activity-category-water;
      }

      .snow {
        background-color:$activity-category-snow;
      }

      .historic {
        background-color:$activity-category-historic;
      }
    }
  }
}
