.block-instagram-strip {
  height: 119px;
  position:relative;

  .slide-container {
    position:absolute;
    top:0;
    bottom:0;
    height:100%;
    overflow:hidden;overflow-x:auto;white-space:nowrap;
    width:100%;
    box-sizing:border-box;
    font-size: 0 ;
    overflow-scrolling: touch !important;
  }

  button {
    z-index: 10;
    position: absolute;
    border: none;
    background-color: transparent;
    height: 25px;
    width: 25px;
    background-repeat: no-repeat;
    background-size: cover;
    outline:none;
    top: 44%;
    background-image:url('responsive2/blocks/photo-carousel/forward.svg');
    cursor:pointer;

    &.carousel-back-button {
      left: $box-padding;
      transform:rotate(180deg);
      transform:rotate(180deg);
    }

    &.carousel-forward-button {
      right: $box-padding;
    }
  }

}
