.block-photo-carousel {
  height: 200px;
  position:relative;

  .slide-container {
    position:absolute;
    top:0;
    bottom:0;
    height:100%;
    overflow:hidden;overflow-x:auto;white-space:nowrap;
    width:100%;

    > div {
      height:100%;
      width:100%;
      background-size:cover;
      display:inline-block;
      margin-left:-10px;
      background-position: center center;

      &:first-of-type {
        margin-left:0px;
      }
    }
  }
}
