.block-search-box {
  padding:0;

  form {
    display:block;
    position:relative;
    width:100%;
    height:100%;
    padding:0 140px 0 0;

    @include media(max-width 720px) {
      padding:0 110px 0 0;
    }

    input[type=search] {
      width: 100% !important;
      border: solid 0px transparent;
      -webkit-appearance: none;
      border-radius: $border-radius 0px 0px $border-radius;
      height: 41px;
      font-size: $font-size-medium;
      outline: none;
      background-color:$color-light-transparent;
      padding-left:$box-padding-half;

      @include media(max-width 720px) {
        padding:0;
        padding-left:$box-padding-half;
      }

      &[type="search"]::-webkit-search-decoration,
      &[type="search"]::-webkit-search-results-button,
      &[type="search"]::-webkit-search-results-decoration {
        display: none;
      }

      &[type="search"]::-webkit-search-cancel-button {
        -webkit-appearance: none;

        display:none;
      }

      &::-webkit-input-placeholder {
         font-family:$font-family-sans;
         font-weight:$font-weight-normal;
         letter-spacing:.02em;
      }

      &:-moz-placeholder { /* Firefox 18- */
         font-family:$font-family-sans;
         padding-left:$box-padding-half;
         font-weight:$font-weight-normal;
      }

      &::-moz-placeholder {  /* Firefox 19+ */
         font-family:$font-family-sans;
         padding-left:$box-padding-half;
         font-weight:$font-weight-normal;
      }

      &:-ms-input-placeholder {
         font-family:$font-family-sans;
         padding-left:$box-padding-half;
         font-weight:$font-weight-normal;
      }
    }
    .search-actions {
      height: 41px;
      background-color:$color-light-transparent;
      overflow:hidden;
      width:140px;
      position:absolute;
      top:0;
      right:0;
      border-radius: 0px $border-radius $border-radius 0px;

      @include media(max-width 720px) {
        width: 110px;
      }

      button {
        background-color:transparent;
        border:solid 0px transparent;
        overflow:hidden;
        outline: none;

        &.go {
          height: 100%;
          width: 54px;
          position: absolute;
          right: 0px;
          background-color: $color-active;
          font-size: $font-size-small;
          color:$light-font-color;
          font-family:$font-family-sans;
          text-transform: uppercase;
          cursor:pointer;
          border-radius: 0 $border-radius $border-radius 0;
        }
      }

      span.locate-me {
        width: 22.5px;
        padding: 0;
        height: 22.5px;
        position: absolute;
        right: 79px;
        top: 8px;
        color: transparent;
        cursor: pointer;

        svg {
          width:22px;
          height:23px;
          outline:false;
          path {
            transition:fill .5s;
            fill: $color-dark;
            outline:false;
          }
        }
      }
    }
  }
}
