$base-font-stack: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$base-font-weight: 300;
$base-font-size: 18px;
$base-line-height:24px;
$base-font-color: $ui-light;

$light-font-weight: 100;

$bold-font-weight: 600;

$cooper-font-stack: "cooper-black-std",sans-serif;

$bigger-header-font-size:40px;
$header-font-size:28px;
$sub-header-font-size:24px;
$tiny-font-size:12px;

$bigger-header-line-height:55px;
$header-line-height:32px;
$sub-header-line-height:32px;
$tiny-line-height:25px;