.content.template-parks {

  #activity-filter-area {

    &.closed {
      .filter-drawer {
        height:0px;
      }

      .close-drawer-action {
        display:none;
      }

      .toggle-activities-drawer-action {

        &.many {
          font-weight:bolder;
        }

        i {
          transform: rotate(0deg) !important;
        }
      }

    }

    .filter-handle {
      .action {
        border:none;
        color:white;
      }

      .toggle-activities-drawer-action {
        i {
          background-image: url('/style/responsive2/menuArrow.svg');
          background-repeat: no-repeat;
          display:inline-block;
          width: 16px;
          height: 16px;

          background-size: 19px 14px;
          background-position: left;
          margin-right: $box-padding-half;

          transform: rotate(90deg);
          background-size: 19px 14px;

          transition:transform .10s;
        }
      }
    }

    .filter-drawer {

      overflow:hidden;
      transition:height .5s;
      height:451px;
      margin:0 auto;
      width:95%;

      li {
        display:inline-block;
        width:100px;
        text-align:center;

        .action {
          border:solid 0px transparent;
          display:inline-block;
          margin:0 auto;

          .activity-icon-container {
              width:67px;
              height:67px;
              margin:0 auto;
              background-color:$color-lighter;
              border-radius:$border-radius;
              padding-top: $box-padding-half;
              margin-bottom:$box-padding-half;

              img, svg {
                width:47px;
                height:47px;
              }

          }

          label {
            color:$light-font-color;
            text-align:center;
          }

          &.selected {
            .outdoors {
              background-color:$activity-category-outdoors;
            }

            .sports {
              background-color:$activity-category-sports;
            }

            .kids {
              background-color:$activity-category-kids;
            }

            .water {
              background-color:$activity-category-water;
            }

            .snow {
              background-color:$activity-category-snow;
            }
          }
        }
      }
    }
  }

  .search-results {

    height:100%;
    width:100%;
    background-color:$color-lighter;
    padding:$box-padding;

    .block-park-name {
      margin-bottom:$box-padding;

      a {
        font-family:$font-family-sans;
      }
    }

  }

}
