#content.template-404 {

  height:100vh;
  width:100vw;
  background-size:cover;
  background-position:center;

  .site-description {
    text-align:center;
    position:relative;
    display:block;
    padding:$box-padding $box-padding-half 0 $box-padding-half;
    font-size:$font-size-large;
    line-height:1em;
    margin-bottom:0;


    color:$light-font-color;
    font-family:$font-family-serif;
    letter-spacing: .09em;

    font-weight:$font-weight-bold;
  }

  .block-search-box {
    padding:$box-padding;

    form {
      display:block;
      max-width:1000px;
      margin:0 auto;
    }
  }

  .attribution {
    position:absolute;
    right:$box-padding;
    bottom:$box-padding;
    font-size:$font-size-small;

    color:$light-font-color;

    div {
      display:inline;
    }

    a {
      color:$light-font-color;
    }
  }

  h1 {
    line-height:1.2em;
    color:$color-dark;
  }

  section {
    position: absolute;
    left:8%;
    right:8%;
    width: 80%;
    margin:20px auto;
    line-height:1.2em;
    padding: 20px;
    background-color:$color-light-transparent;
    border-radius:$border-radius;

    p {
      line-height:1.2em;
    }

    @include media(min-width 721px) {
      margin-top:30vh;
    }
  }

}
