$instagramStripHeight: 108px;
$activitiesHeight:67px;
$parkMapBottomMargin: 33px;
$directionsActionBottom:48px;

#content.template-embed {

  iframe {
    border:solid 1px #333;
  }

  .site-description {
    text-align:center;
    position:relative;
    display:block;
    padding:$box-padding-half $box-padding-half 0 $box-padding-half;
    font-size:$font-size-large;
    line-height:1em;
    margin-bottom:0;

    color:$light-font-color;
    font-family:$font-family-serif;
    letter-spacing: .09em;

    font-weight:$font-weight-bold;
  }

  .block-search-box {
    padding:$box-padding;

    form {
      display:block;
      max-width:1000px;
      margin:0 auto;
    }
  }

  clear:both;
  margin-top:$box-padding;
  padding:$box-padding;
  background-color:$color-lighter;
  color:$color-dark;

  h1 {
    margin-bottom:$box-padding;
    color:$color-dark;
    max-width:1000px;
    line-height:1em;

    a {
      color:$color-notsodark;
    }
  }

  .fiddly-bits {
    box-sizing:border-box;
    width:100%;
    height:75vh;
    min-height:400px;
    color:$color-dark;

    @include media(max-width 720px) {
      height:auto;
    }


    .sides {
      box-sizing:border-box;
      width:49%;
      height:100%;
      display:inline-block;
      color:white;
      vertical-align:top;

      @include media(max-width 720px) {
        float:auto;
        width:100%;
        height:300px;
        clear:both;
        overflow:auto;
        margin-bottom:$box-padding;
      }
    }

    form {

      display:block;
      margin-bottom:$box-padding;
      color:$color-dark;

      legend {
        margin-bottom:$box-padding;
      }

      .control-group {
        margin-left:$box-padding;

        label {
          display:block;
          margin-bottom:$box-padding-half;
        }
      }

      textarea {
        width:500px;
        height:100px;
        margin-bottom:$box-padding-half;
        padding:$box-padding-half;
      }

      button {
        display:block;
      }
    }
  }

}

#content.template-embed-park {

  background-color:$color-even-lighter;

  .park-name {
    height:53px;
    color:$color-notsodark;
    text-align:center;
    padding:15px;

    button {
      opacity:0;
      z-index: 10;
      position: absolute;
      border: none;
      background-color: transparent;
      height: 25px;
      width: 25px;
      background-repeat: no-repeat;
      background-size: cover;
      outline:none;
      top: 14px;
      background-image:url('/svg/forward-333.svg');
      cursor:pointer;

      &.embed-back-button {
        left: $box-padding;
        transform:rotate(180deg);
        transform:rotate(180deg);
      }

      &.embed-forward-button {
        right: $box-padding;
      }
    }
  }

  .block-static-park-map {
    box-sizing:border-box;
    height:100vh;
    position:absolute;
    top:0;
    left:0;
    width:100vw;
    padding:53px 0;
    padding-bottom:$parkMapBottomMargin;

    .small-park-map {
      top:68px;
      right:15px;
    }

    .directions-action {
      bottom: $directionsActionBottom;
      right: 15px;
    }
  }

  .block-park-name {
    z-index: 10;
    position: absolute;
    bottom: 141px;
    background-color:$color-even-lighter;
    height:40;
    padding:7px 15px;
    width:100%;
    height: 67px;
    display:none;

    .park-name {
      display:none;
    }
  }

  .instagram-wrapper {
    height: $instagramStripHeight;
    z-index: 10;
    position: absolute;
    bottom: 72px;
    width: 100%;
    display:none;

    .block-instagram-strip{
      top:36%;

      button {
        top: 43px;
      }

      .slide-container > div {
        height:108px;
        width:108px;

        background-size: 108px 108px;
      }
    }
  }

  .site-name-embed {
    background-color:$color-even-lighter;
    height:33px;
    text-align:right;
    position:absolute;
    bottom:0;
    display:block;
    margin:0;
    width:100%;
    padding:10px;
    padding: 8px;
    font-size: 75%;
  }

  &.instagram {
    .block-static-park-map {
      padding-bottom:$parkMapBottomMargin+$instagramStripHeight;

      .directions-action {
        bottom:$directionsActionBottom+$instagramStripHeight;
      }
    }
    .instagram-wrapper {
      display:block;
    }
  }

  &.activities {
    .block-static-park-map {
      padding-bottom:$parkMapBottomMargin+$activitiesHeight;

      .directions-action {
        bottom:$directionsActionBottom+$activitiesHeight;
      }
    }
    .block-park-name {
      display:block;
      bottom:33px;
    }
  }

  &.activities {

    &.instagram {
      .block-static-park-map {
        padding-bottom:$parkMapBottomMargin+$instagramStripHeight+$activitiesHeight;

        .directions-action {
          bottom:$directionsActionBottom+$instagramStripHeight+$activitiesHeight;
        }
      }
      .block-park-name {
        bottom:141px;
      }
    }

  }

}
