.content.template-park {

  > div {
    @include span-columns(12 of 12);
    @include media(min-width 721px) {
      @include row(table);
    }

    section {

      @include pad();
      background-color:$color-lighter;
      padding:0;
      vertical-align:top;

      &#park-info {
        @include span-columns(7 of 12);

        .block-photo-carousel {
          height:300px;
        }

        @include media(max-width 720px) {
          .block-photo-carousel {
            height:200px;
          }
        }

        .site-name {
          display:block;
          background-color:$color-notsodark;
          color:$color-california;
          margin-bottom:0;
          padding: 2px $box-padding;
          color: white;
          font-size: 61%;

          a {
            color:$color-california;
          }
        }

        .block-park-name{
          margin-bottom:$box-padding-half;
          .park-name {
            font-size:200%;
            line-height: 1em;
            font-weight:$font-weight-bold;
            margin-bottom:$box-padding-half;

            .block-activity-icons {
              li {
                width:42px;
                height:42px;
                background-size:32px 32px;
              }
            }
          }
        }

        .park-details {
          padding:$box-padding-half $box-padding;

          .agency-name {
            line-height: 1em;
          }

          .social-breakdown {
            font-size: 65%;
            font-weight:$font-weight-bold;

            span {
              white-space:nowrap;
              span {
                font-weight:$font-weight-normal;
              }
            }

            .total0 {
              display:none;
            }
          }
        }

        @include media(max-width 720px) {
          @include span-columns(12 of 12);
        }
      }
      &#maps {
        @include span-columns(5 of 12);
        @include media(max-width 720px) {
          @include span-columns(12 of 12);
          display:block;
          width:100%;
          height:300px;
        }

        background-color:$color-lighter;
      }
      &#get-out {
        @include span-columns(12 of 12);

        h2 {
          text-align:center;
          font-size:120%;
          color:$color-dark;
          padding:30px;
        }
      }
      &#search-area {
        @include span-columns(12 of 12);
        height:72px;
        text-align:center;
        background-color:$color-notsodark;
        padding: 15px 0;

        >label {
          margin-right:0.4em;
          vertical-align: middle;
          font-size: 110%;
          color:$light-font-color;
        }

        .block-search-box {
          width: 425px;
          display:inline-block;

          @include media(max-width 720px) {
            width:90%;
          }
        }
      }
    }
  }
}
