#content.template-home {
  @include span-columns(12 of 12);

  .site-description {
    text-align:center;
    position:relative;
    display:block;
    padding:$box-padding-half $box-padding-half 0 $box-padding-half;
    font-size:$font-size-large;
    line-height:1em;
    margin-bottom:0;

    color:$light-font-color;
    font-family:$font-family-serif;
    letter-spacing: .09em;

    font-weight:$font-weight-bold;

    @include media(max-width 720px) {
      font-size:$font-size-medium;
    }
  }

  .block-search-box {
    padding:$box-padding;

    form {
      display:block;
      max-width:1000px;
      margin:0 auto;
    }
  }

  .story-header {
    color:$light-font-color;
    font-family:$font-family-serif;
    letter-spacing: .09em;
    padding: $box-padding-half $box-padding 1px $box-padding;
    font-size:$font-size-small;
    font-weight:$font-weight-bold;
    text-align:center;
    border-top:$border-style;
  }
}
