@import 'reset';
@import 'colors';
@import 'fonts';

/*
*  Begin main theme
*/
body.openspaces {
  font-family: $base-font-stack;
  font-weight: $base-font-weight;
  font-size: $base-font-size;
  color:$light-brown;
  background-color: $dark-brown;
  background-image: url('/style/photo-back-template-bg.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: bottom center;
  background-attachment: fixed;
}

body.openspaces.photo-back-template .photo-back-content {
  width:1030px;
  margin:0 auto;
}

body.openspaces .main-content {
  width:1020px;
  margin:0 auto;
  position:relative;
}

body.openspaces input:focus {
  outline-width: 0;
}

body.openspaces input::-webkit-input-placeholder {
   color:$base-font-color;
}

body.openspaces input:-moz-placeholder { /* Firefox 18- */
   color:$base-font-color;
}

body.openspaces input::-moz-placeholder {  /* Firefox 19+ */
   color:$base-font-color;
   opacity: 1;
}

body.openspaces input:-ms-input-placeholder {  
   color:$base-font-color;
}

body.openspaces h1 {
  font-size: $header-font-size;
  font-weight: $bold-font-weight;
  margin-bottom: 5px;
  line-height: $header-line-height;
}

body.openspaces h2 {
  font-size: $sub-header-font-size;
  font-weight: $bold-font-weight;
  margin-bottom: 40px;
  color:$cream;
}

body.openspaces h3 {
  font-size: $sub-header-font-size;
  line-height: $sub-header-line-height;
  font-weight: $bold-font-weight;
  margin-bottom: 15px;
}

body.openspaces p, ul {
  margin-bottom: 15px;
}

body.openspaces.photo-back-template h1 {
  text-align: center;
  color:$white;
  font-family: $cooper-font-stack;
  font-size: $bigger-header-font-size;
  margin-bottom: 15px;
  line-height:$bigger-header-line-height;
  font-weight:$bold-font-weight;
}

body.openspaces.photo-back-template p.subhead {
  color:$white;
  font-family: $cooper-font-stack;
  font-size: $bigger-header-font-size;
  font-weight: $bold-font-weight;
  text-align: center;
  margin: 0 auto;
  margin-bottom:60px;
  width:900px;
}

body.openspaces header {
  padding: 10px 40px;
  height:20px;
  position:relative;
  line-height: 16px;
  width: 938px;
  margin: 0 auto;
  max-width: 1602px;
  background-color: $brown;
  margin:0 auto;
}

body.openspaces.photo-back-template header {
  margin-bottom: 60px;
}

body.openspaces header a {
  text-decoration: none;
   color:$base-font-color;
}

body.openspaces header nav {
  font-size: $base-font-size;
  color:$base-font-color;
  margin-left:-4px;
}

body.openspaces header nav a {
  text-decoration: none;
   color:$cream;
}

body.openspaces footer {
  padding: 15px 40px;
  height:126px;
  position:relative;
  line-height: $base-line-height;
  width: 938px;
  margin: 0 auto;
  font-weight: $base-font-weight;
}

body.openspaces.photo-back-template article.about-this-page {
  -moz-column-count:2; /* Firefox */
  -webkit-column-count:2; /* Safari and Chrome */
  column-count:2;
  column-gap:31px;
  -moz-column-gap:31px; /* Firefox */
  -webkit-column-gap:31px; /* Safari and Chrome */
  margin: 0 43px 5px 40px;
  line-height:$base-line-height;
  font-size: $base-font-size;
  line-height: 26px;
}

body.openspaces.photo-back-template article.thin {
  width:500px;
  margin:0 auto;
}

body.openspaces section {
  background-color: $cream;
  color:$brown;
  padding:33px;
  position: relative;
  z-index: 1;
}

body.openspaces.photo-back-template section {
  background-color: transparent;
  color:$base-font-color;
  padding:40px;
}

body.openspaces li {
  margin-left: 20px;
  list-style-type: disc;
}

body.openspaces a {
  color:$blue;
}

body.openspaces p.breadcrumb {
  margin-bottom: 20px;
}

body.openspaces .tweets {
  margin-bottom: 20px;
}

body.openspaces #park-hash-tag {
  height:67px;
  background-color: $dark-brown;
  top:168px;left: 34px;
  color:$white;
  text-align: center;
  padding:5px;
  overflow: hidden;
  font-size: 60px;
  font-weight:$bold-font-weight;
  z-index: 10;
  font-family: $cooper-font-stack;
  font-style: normal;
  font-weight: $base-font-weight;
  line-height: 67px;
  display:block;
  position:absolute;
}

body.openspaces .has-coverphoto #park-hash-tag {
  position:absolute;
  top: 403px;
  left: 34px;
  width:269px;
}

/* Flickr cover photo module */

body.openspaces .stmn-carousel-module ::-webkit-scrollbar{
  width:20px;
} 

body.openspaces .stmn-carousel-module ::-webkit-scrollbar-thumb{
  background-color:rgba(0,0,0,1);
}

body.openspaces .stmn-carousel-module {
  scrollbar-highlight-color: aqua !important;
  scrollbar-face-color: blue !important;
  scrollbar-arrow-color: blue !important;
  border-color: blue !important;
  -webkit-transform:translate3d(0,0,0);
}

body.openspaces .has-coverphoto .coverphoto {
  height:480px;
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position:relative;
  width: 1018px;
}

body.openspaces #coverphoto-carousel {
    width:1018px;
    height:480px;
  }

body.openspaces .has-coverphoto .coverphoto span.attribution {
  position:absolute;
  right:40px; bottom:5px;
  background-color:rgba(34, 17, 2,.4);
  padding:10px;
  line-height: 10px;
  font-size:$tiny-font-size;
}

body.openspaces .has-coverphoto .coverphoto span.attribution a {
  text-decoration: none;
}

/* California shape */
body.openspaces #california_shape {
  position: absolute;
  top: 23px;
  left: 27px;
  z-index:2;
}

body.openspaces .has-coverphoto #california_shape {
  top: 255px;
}

/* Instagram photos */
body.openspaces .main-content #instagram-photos  {
  display: inline-block;
  width: 512px;
  vertical-align: top;
  text-align: right;
}

body.openspaces .main-content #instagram-photos .instagram-photo {
  cursor: pointer;
}

body.openspaces .main-content #instagram-photos h2 {
  text-align: left;
  margin-bottom: 10px;
}

body.openspaces .main-content #instagram-photos button {
  line-height: 30px;
  padding-top:0;
  margin-top:0;
}

body.openspaces .main-content #instagram-photos h2 a {
  line-height: 30px;
}

body.openspaces .main-content #instagram-photos image {
  margin: 0;
  display: inline-block;
}

body.openspaces button.show-more {
  text-decoration: underline !important;
  color:$blue;
  border:none;
  background-color: transparent;
  display:block;
  text-align: center;
  font-size: $base-font-size !important;
  margin: 15px auto 0 auto;
  width:100%;
  cursor:pointer;
}

body.openspaces .has-instagram-photos.has-tweets #tweets {
  margin-top:40px;
}

/* search */
body.openspaces header #search {
  top:5px;
  right:40px;
  position:absolute;
  text-decoration: none;
  text-align: right;
  width:700px;
  color: $base-font-color;
}

body.openspaces header #search input {
  -webkit-appearance: none;
  border:none; 
  cursor: pointer;
  display: inline-block; 
  width: 200px;
  background-color: $brown;
  font-size: $base-font-size;
  color:$cream;
  font-weight: $base-font-weight;
}

body.openspaces.ua-firefox header #search input {
  padding-left: 8px;
}

body.openspaces header #search input::-webkit-input-placeholder { color:$cream;font-family: $base-font-stack; }
body.openspaces header #search input::-moz-placeholder { color:$cream;font-family: $base-font-stack; } /* firefox 19+ */
body.openspaces header #search input:-ms-input-placeholder { color:$cream;font-family: $base-font-stack; } /* ie */
body.openspaces header #search input:-moz-placeholder { color:$cream;font-family: $base-font-stack; }

body.openspaces header #search a {
  text-decoration: none;
  color:$cream;
}

body.openspaces header #search button {
  border: none;
  background-image: url('/style/icon-search.png');
  width: 29px;
  height: 29px;
  right: 0;
  top: 0;
  position: absolute;
  cursor:pointer;
}

body.openspaces header #search-results {
  display:none;
}

body.openspaces header.has-search-results #search-results {
  position:absolute;
  z-index: 2;
  background-color:white;
  color:black;
  font-size:$base-font-size;
  padding:3px;
  max-height:50vh;
  overflow-y:auto;
  display:block;
  top: 36px;
}

body.openspaces header.has-search-results #search-results a {
  color:black;
  text-decoration: none;
}

body.openspaces header.has-search-results #search-results a:focus {
  border:dotted 1px black;
}

body.openspaces header.has-search-results #search-results img {
  display:none;
}

body.openspaces header.has-search-results #search-results div {
  padding:3px 10px;
}

body.openspaces header.has-search-results #search-results div:hover {
  background-color:$blue;
  cursor: pointer;
}

/* Glop slider */
body.openspaces .glop-slider {
  overflow-x: auto;
  height:240px;
  width:100%;
  white-space: nowrap;
  scrollbar:none;
}
body.openspaces .glop-slider::-webkit-scrollbar { width: 0 !important }
body.openspaces .glop-slider::-scrollbar { width: 0 !important }

body.openspaces .not-scrolled .carousel-back-button {
  opacity:0;
  transition:opacity .5s;
}

body.openspaces #park-template-wrapper .carousel-back-button {
  left: 34px;
  top: 200px;
}

body.openspaces .carousel-container .carousel-back-button {
  opacity:1;
  left: -36px;
}

body.openspaces .carousel-container {
  position: relative;
  margin-bottom: 25px;
}

body.openspaces .carousel-container h2 {
  margin-bottom: 25px;
}

body.openspaces .carousel-forward-button, body.openspaces .carousel-back-button {
  background-color: transparent;
  width: 52px;
  height: 52px;
  border:none;
  position: absolute;
  top: 136px;
  cursor: pointer;
}

body.openspaces .carousel-forward-button {
  background-image: url('/style/forward-arrow-normal.png');
}

body.openspaces .carousel-forward-button:hover {
  background-image: url('/style/forward-arrow-hover.png');
}

body.openspaces .carousel-back-button {
  background-image: url('/style/back-arrow-normal.png');
}

body.openspaces .carousel-back-button:hover {
  background-image: url('/style/back-arrow-hover.png');
}


body.openspaces .carousel-forward-button, body.openspaces .carousel-back-button:focus {
  outline-width: 0;
}

body.openspaces .carousel-forward-button {
  transition:opacity .5s;
  opacity:1;
  right: -36px;
}

body.openspaces #park-template-wrapper .carousel-forward-button {
  right: 45px;
  top: 200px;
}

body.openspaces .scrolled-furthest .carousel-forward-button {
  opacity:0;
}

body.openspaces .glop-park {
  display:inline-block;
  width:200px;
  height:200px;
  margin: 25px;
  position: relative;
  transition:background-image .5s;
  overflow:hidden;
  text-align:center;
}

body.openspaces .glop-park .hashtag {
  opacity:0;
  transition:opacity .5s;
  color: $white;
  background-color: $dark-brown;
  font-family: $cooper-font-stack;
  font-size: $sub-header-font-size;
  line-height: $sub-header-line-height;
  display:inline-block;
  padding:3px 7px;
  margin:25% auto 0 auto;
  text-align:center;
}

body.openspaces .glop-park:hover .hashtag, body.openspaces #view-parks .glop-park .hashtag {
  opacity:1;
}

body.openspaces .glop-park .park-name {
  opacity:0;
  transition:opacity .5s;
  color: $white;
  font-size: $tiny-font-size;
  line-height: $tiny-line-height;
  text-align: center;
  width:100%;
  white-space: pre-wrap;
  display:block;
}

body.openspaces .glop-park:hover .park-name, body.openspaces #view-parks .glop-park .park-name {
  opacity:1;
}

/* nearest parks */

body.openspaces #nearest-parks {
  width:496px;
  height: 344px;
  display:inline-block;
}

body.openspaces #nearest-parks .glop-park {
  width:125px;
  height:125px;
  margin:20px;
}

body.openspaces #nearest-parks .glop-park .hashtag {
  margin-top:30%;
}

body.openspaces #nearest-parks a:hover {
  text-decoration:none;
}

body.openspaces #nearest-parks .glop-park .park-name {
  display:none;
}

/* Park page extended navigation */

body.openspaces section.extended-navigation {
  background-color:$light-brown;
}

/* Tweets */
body.openspaces #tweets {
  display:inline-block;
  width: 512px;
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
  border-radius: 4px;
  margin-left: 0px;
}

body.openspaces #tweets ul {
  
}

#tweets ul li {
  margin:5px 0 0 0;
}

#tweets .footer {
  padding-bottom: 9px;
}

#tweets .show-more {
  margin-top:10px;
}

/* Foursquare Stats */
body.openspaces #foursquare-stats {
  display:none;
  width:400px;
  vertical-align: top;
}

body.openspaces .main-content .has-instagram-photos.has-tweets #foursquare-stats,
body.openspaces .main-content .has-instagram-photos #foursquare-stats,
body.openspaces .main-content .has-tweets #foursquare-stats {
  display: inline-block;
}

body.openspaces .main-content .alphadog #foursquare-stats {
  position:relative;
  display: inline-block;
  margin-left:20px;
  margin-left: 184px;
}

body.openspaces #foursquare-stats h2 {
  margin-bottom: 10px;
}


body.openspaces #park-template-wrapper h2, body.openspaces #foursquare-stats table, tfoot {
  color: $gold;
  font-size: $base-font-size;
  font-weight: $bold-font-weight;
}

body.openspaces #park-template-wrapper h2 span {
  font-size: $tiny-font-size;
  margin-left: 10px;
  color:$greenish-brown;
  font-weight:$base-font-weight;
}

body.openspaces #park-template-wrapper h2 a {
  color: $gold;
  text-decoration: none;
}

body.openspaces #foursquare-stats table {
  width:75%;
  vertical-align: top;
  text-align: center;
}

body.openspaces #foursquare-stats table tbody {
  color: $dark-brown;
  font-size: $sub-header-font-size;
  font-weight: $bold-font-weight;
}

body.openspaces #foursquare-stats table tfoot td {
  text-transform: uppercase;
  text-align: center;
  font-size:$base-font-size;
  line-height: 14px;
  padding-top: 10px;
}

/* Park info */
body.openspaces #park-info {
    padding-top: 236px;
}
body.openspaces .has-coverphoto #park-info {
    padding-top: 0px;
}

/* Park Shape */
body.openspaces #park-shape {
  display:inline-block;
  margin-top: 40px;
  width:300px;
  height:335px;
  margin-bottom: 40px;
  position: relative;
  background-repeat: no-repeat;
}

body.openspaces .park-lat-lon {
  font-size:$sub-header-font-size;
  line-height:$sub-header-line-height;
  margin-bottom: 0px;
}

body.openspaces #park-shape .scale-area {
  position: absolute;
  bottom: -1px;
  left: 0;
  font-size: $tiny-font-size;
  color: $dark-brown;
  text-align: center;
  height: 32px;
}

body.openspaces #park-shape .scale-area .scale-bar {
  margin:0 auto;
  width: 15px;
  height: 15px;
  background-color: $gold;
}

/* Social Nav */

body.openspaces #social-nav-container {
  font-size: 12px;
  margin-left: 64px;
}

body.openspaces .social-nav-main-hashtag {
  color: white;
  background-color: #301f0d;
  font-family: "cooper-black-std", sans-serif;
  font-size: 18px;
  line-height: 30px;
  display:inline-block;
  padding:0 5px;
  margin-bottom: 23px;
}

body.openspaces .social-nav-item div {
  display:inline-block;
}

body.openspaces .hashtag-back a {
  text-decoration:none;
  color:white !important;
}

body.openspaces .hashtag-forward, .hashtag-back {
  color: white;
  background-color: #301f0d;
  font-family: "cooper-black-std", sans-serif;
  font-size: 12px;
  display:inline-block;
  width: 51px;
  padding: 0px 6px 6px 6px;
  height: 16px;
  line-height: 2;
  text-align: center;
  vertical-align: middle;
}

body.openspaces .hashtag-forward a {
  text-decoration:none;
  color:white !important;
}

body.openspaces .social-nav-item {
  display:inline-block;
  vertical-align: middle;
  margin-bottom: 12px;
}

body.openspaces .social-nav-item div.which-network {
  color:#9a7825;
  font-size:12px;
  line-height: 23px;
  whitespace:pre;
  display:block;
}

body.openspaces .network-totals {
  color: white;
  height: 14px;
  line-height: 16px;
  font-size: 12px;
  padding: 4px;
  margin: 0;
  overflow:hidden;
  vertical-align: middle;
}

body.openspaces .social-nav-flickr .network-totals {
  background-color:#ff0084;
  width:177px;
}

body.openspaces .social-nav-instagram .network-totals {
  background-color:#4877a0;
  width: 182px;
}

body.openspaces .social-nav-foursquare .network-totals {
  background-color:#66c100;
  width: 191px;
}

body.openspaces .social-nav-twitter .network-totals {
  background-color:#00b6f1;
  width: 195px;
}

body.openspaces .social-back-arrow {
  background-image: url('/style/social-nav-arrow-back.png');
  background-repeat:no-repeat;
  width:24px;
  display:inline-block;
  height: 14px;
}
body.openspaces .social-forward-arrow {
  background-image: url('/style/social-nav-arrow-forward.png');
  background-repeat:no-repeat;
  width:24px;
  display:inline-block;
  height: 14px;
}

/* move to two */

@media (min-width: 1550px) {
  body.openspaces.photo-back-template .photo-back-content {
    width:1600px;
  }

}

@media (max-width: 320px) {
 body.openspaces header #search input {
  line-height:17px;
 }
 .stmn-carousel-module {
  -webkit-overflow-scrolling: touch;
 }
}
