@import "reset";
@import "bourbon";
@import "neat";

/*
*  Variables for everything
*/
$box-padding: 20px;
$box-padding-half:10px;

$border-radius:5px;

$color-dark:#333;
$color-notsodark: rgb(55, 71, 79);
$color-lighter: rgb(207, 216, 220);
$light-font-color:white;
$color-dark-transparent:rgba(0, 0, 0, 0.3);
$color-notasdark-transparent:rgba(27,30,88,.5);
$color-light-transparent:rgba(255,255,255,.9);
$color-active:rgb(2, 122, 187);
$color-california:#cebf41;

$activity-category-outdoors: #4BAE4F;
$activity-category-sports: #FF9F00;
$activity-category-kids: #9B26AF;
$activity-category-water: #2095F2;
$activity-category-snow: #00BBD3;
$activity-category-historic: #8C6D62;

$animation-speed: .5s;

$border-radius: 4px;
$border-style: solid 1px rgba(68,87,96,.7);

$font-weight-normal: 300;
$font-weight-bold: 600;

$font-size-small: 75%;
$font-size-medium: 100%;
$font-size-large: 125%;

$font-family-serif: "jubilat", serif;
$font-family-sans: "expressway", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;


@include media(min-width 721px) {
  &.facebook-thing-closed .fb-like
  {
    z-index: 1;
    transform: scale(1.58);
    transform-origin: center left;
    iframe {
      margin-top: -0.5px;
      margin-left: -2px;
    }
  }
}

@-webkit-keyframes spin {
  0% { transform: rotate(0deg);}
  50% { transform: rotate(360deg); }
}

@-moz-keyframes spin {
  0% { transform: rotate(0deg);}
  50% { transform: rotate(360deg); }
}

@-webkit-keyframes pulsate {
  0% { opacity: .30}
  10% { opacity: .30}
  20% { opacity: .40 }
  30% { opacity: .60 }
  40% { opacity: .80 }
  50% { opacity: 1.0}
  60% { opacity: .80}
  70% { opacity: .60}
  80% { opacity: .40}
  90% { opacity: .30}
  100% { opacity: .30}
}

@-moz-keyframes pulsate {
  0% { opacity: .30}
  10% { opacity: .30}
  20% { opacity: .40 }
  30% { opacity: .60 }
  40% { opacity: .80 }
  50% { opacity: 1.0}
  60% { opacity: .80}
  70% { opacity: .60}
  80% { opacity: .40}
  90% { opacity: .30}
  100% { opacity: .30}
}

/*
*  Styles for everything
*/
body.parksforward.responsive2 {

  @include outer-container;

  .pulse {
  	animation-name: 'spin';
  	animation-duration: 5000ms;
  	animation-iteration-count: infinite;
  	animation-timing-function: ease;
  }

  .wait {
    -webkit-animation-name: pulsate;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite
  }

  .clearfix {
    overflow: auto;
  }

  .gm-style-iw {
    height:100px;
  }

  background-color:$color-dark;
  font-size: 22px;
  line-height: 1em;
  color:$color-dark;
  max-width:2048px;
  font-family: $font-family-sans;
  font-weight: $font-weight-normal;

  * {
    line-height:1em;
  }

  a {
    text-decoration:none;
  }

  h1, h2, h3, h4 {
    font-family: $font-family-serif;
    letter-spacing: .09em;
    color:$light-font-color;
    font-weight: $font-weight-bold;
    line-height: 1em;
  }

  input, button, select {
    outline:none;
  }

  h1 {
    font-size:$font-size-large;
    margin-bottom:$box-padding-half;
  }

  p {
    margin-bottom:$box-padding-half;
  }

  div {
    box-sizing:border-box;
  }

  .action {
    background-color:transparent;
    border-radius:$border-radius;
    color:white;
    border:solid 1px $color-active;
    font-size: $font-size-small;
    padding: 5px;
    color:$color-active;
    cursor:pointer;
    display:inline-block;

    &.active {
      background-color:$color-active;
      color:$light-font-color;
    }

    &.selected {
      color:$light-font-color;
      border:solid 1px $light-font-color;
    }
  }

  .shader {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:1;
    background-color:$color-dark-transparent;
  }

  .pagination-container {
    text-align: center;
    margin: 20px;
  }

  .map-overlay {
    background-color:$light-font-color;
  }

  //
  // Blocks
  //
  @import "block-search-box";
  @import "block-header-search";
  @import "block-story";
  @import "block-stories-flexy";
  @import "block-photo-carousel";
  @import "block-instagram-strip";
  @import "block-activity-icons";
  @import "block-static-park-map";
  @import "block-park-name";
  @import "block-activity-filter";

  //
  // Common layout sections
  //
  header {
    @include span-columns(12 of 12);
    background-color:$color-notsodark;
    padding: 5px 10px;
    border-bottom:$border-style;

    color:$light-font-color;
    font-size:$font-size-small;

    a {
      color:$light-font-color;
    }

    p {
      margin:0;
    }
  }

  footer {
    @include span-columns(12 of 12);
    background-color:$color-dark-transparent;
    font-size: $font-size-small;
    line-height: 1em;
    color:$light-font-color;

    a {
      color:$light-font-color;
    }

    #footer-actions {
      @include span-columns(12 of 12);
      background-color:$color-notsodark;
      a {
        display:inline-block;
        box-sizing:border-box;
        width:33.33%;
        border:solid 1px rgba(255,255,255,.3);
        border-width:1px 1px 0 0;
        padding:$box-padding 45px;

        background-color:$color-notsodark;
        background-repeat: no-repeat;
        background-size: auto 50%;
        background-position:$box-padding-half;

        float:left;

        &.top-action {
          background-image: url('/style/responsive2/footer/circle-arrow.svg');
        }

        &.wander-action {
          background-image: url('/style/responsive2/footer/circle-walking.svg');
        }

        &.contact-action {
          background-image: url('/style/responsive2/footer/speech-bubble.svg');
        }

        &:last-of-type {
          border-right-width:0;
        }

        @include media(max-width 720px) {
          float:auto;
          width:100%;
          border-right-width:0;
        }
      }
    }

    #footer-credits {
      @include span-columns(12 of 12);
      background-color:$color-lighter;
      display:inline-block;

      > div {
        height:138px;
        padding:$box-padding;

        h2 {
          font-family: $font-family-sans;
          color:$color-dark;
          margin-bottom: 12%;
        }

        .stamen-logo {
          width:83px;
          height:22px;
          float:left;
          vertical-align:middle;
          margin-right:10px;
        }

        .greeninfo-logo {
          width: 85px;
          height: 36px;
          float: left;
          vertical-align: bottom;
          margin-right: 10px;
          margin-top: -7px;
        }

        .hipcamp-logo {
          width:83px;
          height: 27px;
          float:left;
          vertical-align:middle;

        }

        &.builtby {
          @include span-columns(5 of 12);
        }

        &.supportedby {
          @include span-columns(7 of 12);
        }

        @include media(max-width 720px) {
          &.builtby, &.supportedby {
            @include span-columns(12 of 12);
          }
        }
      }
    }
  }

  #content {
    background-color:$color-notsodark;
  }

  //
  // Template specific layouts
  //
  @import "template-home";
  @import "template-park";
  @import "template-parks";
  @import "template-embed";
  @import "template-404";

}

//
//  Styles for Mobile
//  TODO: Weave these in to the styles above
//
@include media(max-width 720px) {
  body.parksforward.responsive2 {

    h1 {
      font-size:$font-size-medium;
    }

  }
}
