@import "reset";
@import "bourbon";
@import "neat";

/*
*  Variables for everything
*/
$box-padding: 5px;

$border-radius:5px;

$color-dark: #333;

$animation-speed: .5s;

$font-family: "expressway", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

@-webkit-keyframes pulse_animation {
  0% { -webkit-transform: rotate(0deg);}
  50% { -webkit-transform: rotate(360deg); }
}

/*
*  Styles for everything
*/
body.parksforward.responsive2 {

  @include outer-container;

  .pulse {
  	-webkit-animation-name: 'pulse_animation';
  	-webkit-animation-duration: 5000ms;
  	-webkit-animation-iteration-count: infinite;
  	-webkit-animation-timing-function: ease;
  }

  background-color:$color-dark;
  font-size: 24px;
  line-height: 29px;
  color:#333;
  max-width:1024px;
  font-family: $font-family;
  font-weight: 300;
  letter-spacing: .02em;

  a {
    text-decoration:none;
  }

  h1, h2, h3, h4 {
    color:white;
  }

  h1 {
    font-size:150%;
    margin-bottom:$box-padding;
  }

  .shader {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:1;
    background-color:rgba(0,0,0,.5);
  }

  //
  // Blocks
  //
  .block-search-box {
    padding:0;

    .twitter-typeahead {
      width:100%;

      h3 {
        color:#ccc;
      }

      .tt-query,
      .tt-hint {
        margin-bottom: 0;
      }

      .tt-hint {
        display: block;
        width: 100%;
        padding: 8px 12px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #999;
        vertical-align: middle;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
      }

      .tt-dropdown-menu {
        min-width: 160px;
        margin-top: 2px;
        padding: 10px;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 0 0 4px 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        background-clip: padding-box;
        text-align:left;
      }

      .tt-suggestion {
          display: block;
          padding: 3px 20px;
          text-transform: capitalize;
          cursor:pointer;

        &.tt-cursor {
          color:#fff;
          background-color:#dfdfdf;

          a {
              color: #fff;
          }
        }

        p {
            margin: 0;
        }
      }

    }

    form {
      display:block;
      position:relative;
      width:100%;
      height:100%;
      padding:0 140px 0 0;
      input[type=search] {
        width: 100% !important;
        border: solid 0px transparent;
        -webkit-appearance: none;
        border-radius: $border-radius 0px 0px $border-radius;
        height: 41px;
        font-size: 16px;
        outline: none;
        padding-left:10px;
        margin:0 10px;

        &[type="search"]::-webkit-search-decoration,
        &[type="search"]::-webkit-search-results-button,
        &[type="search"]::-webkit-search-results-decoration {
          display: none;
        }

        &[type="search"]::-webkit-search-cancel-button {
          -webkit-appearance: none;

          /* Now your own custom styles */
          height: 10px;
          width: 10px;
          background: #333;
          border-radius:999px;
        }

        &::-webkit-input-placeholder {
           font-family:$font-family;
        }

        &:-moz-placeholder { /* Firefox 18- */
           font-family:$font-family;
           padding-left:$box-padding;
        }

        &::-moz-placeholder {  /* Firefox 19+ */
           font-family:$font-family;
           padding-left:$box-padding;
        }

        &:-ms-input-placeholder {
           font-family:$font-family;
           padding-left:$box-padding;
        }
      }
      .search-actions {
        height: 41px;
        background-color:white;
        overflow:hidden;
        width:140px;
        position:absolute;
        bottom:0;
        right:0;
        border-radius: 0px $border-radius $border-radius 0px;

        button {
          background-color:transparent;
          border:solid 0px transparent;
          overflow:hidden;
          outline: none;

          &.go {
            height: 100%;
            width: 54px;
            position: absolute;
            right: 0px;
            background-color: rgb(0, 128, 252);
            font-size: 65%;
            color:white;
            font-family:$font-family;
            text-transform: uppercase;
            cursor:pointer;
          }
        }

        span.locate-me {
          width: 22.5px;
          padding: 0;
          height: 22.5px;
          position: absolute;
          right: 79px;
          top: 8px;
          color: transparent;
          cursor: pointer;

          svg {
            width:22px;
            height:23px;
            outline:false;
            path {
              transition:fill .5s;
              fill: rgb(153, 153, 153);
              outline:false;
            }
          }
        }
      }
    }
  }

  .block-header-search {

    height:217px;
    padding:40px 10px $box-padding 10px;
    transition:height $animation-speed;
    background-color:rgb(60,37,24);
    text-align:center;
    background-image:url('/style/responsive2/blocks/header-search/bg-l.png');
    background-size:cover;
    background-position:center;
    position:relative;

    h1 {
      margin-bottom:40px;
      z-index:10;
      position:relative;
    }

    .block-search-box {
      max-width: 550px;
      margin:0 auto;
      position:relative;
      z-index:10;
    }
  }

  .block-story {
    height:100%;
    width:100%;
    background-size:cover;
    background-position:center;
    position:relative;
    cursor:pointer;

    .details {

      padding-top: 2px;
      display:inline-block;
      max-width:100%;
      overflow:hidden;
      box-sizing: border-box;

      a {
        color: white;
        display: block;
        background-color: rgba(27,30,88,.5);
        padding: 0px 12px;
        margin: $box-padding $box-padding 0 $box-padding;
        overflow:hidden;
        box-sizing: border-box;
        float:left;
        max-width:95%;
      }

      a.main-link {
        display: block;
        width: 100%;
        padding: 5px 10px;
        font-size: 130%;
      }

      a.attribution-link {
        padding: 3px 0 3px 46px;
        background-position: 10px center;
        display: inline-block;
        height: 23px;
        background-size: auto 12px;
        width: 100%;
        margin-top: 0;
        background-color: rgba(0, 0, 0, 0.5);
        background-image: url('responsive2/blocks/story/flickr-logo.svg');
        background-repeat: no-repeat;
        font-size: 50%;
        line-height: 157%;
      }
    }
  }

  //
  // Layout Sections
  //
  &.index {
    header {
      @include span-columns(12 of 12);
    }

    .content {
      @include span-columns(12 of 12);

      section {
        &#stories {

          @include fill-parent;
          box-sizing: border-box;

          ul {

            @include fill-parent;
            margin:0;
            padding:0;
            list-style-type: none;
            display:block;
            box-sizing: border-box;
            position:relative;
            padding-right:50%;

            li {
              width:100%;
              height:250px;
              display:inline-block;
              box-sizing: border-box;
              overflow:hidden;
              margin:0;
              float:left;
              -webkit-transition:width .2s, height .2s;

              &:first-of-type {
                width:50%;
                position:absolute;
                top:0;
                right:0;
                height:500px;
              }

              &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(6), &:nth-of-type(7) {
                width:50%;
                .details {
                  width:auto;
                  a {
                    &.main-link {
                      width:auto;
                      font-size: 93%;
                      margin-right: 51px;
                    }
                    &.attribution-link {
                      position:absolute;
                      top: 5px;
                      right:0;
                      color:transparent;
                      background-color:transparent;
                      width:40px;
                    }
                  }
                }
              }

              &:nth-of-type(5) {
                width:50%;
                position:absolute;
                top:501px;
                right:0;
                height:500px;
              }
            }
          }

        }
      }

    }

    footer {
      @include span-columns(12 of 12);
      background-color:black;
      padding:20px;
      font-size: 50%;
      line-height: 50%;
      color:white;

      a {
        color:white;
      }
    }
  }

}

//
//  Styles for Desktop
//

//
//  Styles for Mobile
//
@media (max-width : 720px) {
  body.parksforward.responsive2 {

    font-size: 17px;

    h1 {
      font-size:100%;
    }

    //
    // Overrides for blocks
    //
    .block-header-search {
      height: 110px;
      padding-top:10px;
      background-image:url('/style/responsive2/blocks/header-search/bg-m.jpg');

      h1 {
        margin-bottom: 10px;
      }
    }

    .block-story {
      .details {
        a {
          &.main-link {
            font-size:100%;
          }
          &.attribution-link {
            position:absolute;
            top:10px;
            right:0;
            width:50px;
            overflow:hidden;
            color:transparent;
            background-color:transparent;
            padding:0;
            margin:0;
          }
        }
      }
    }

    //
    // Overrides for layouts
    //
    &.index {
      .content {
        section {
          &#stories {

            ul {
              padding-right:0;

              li {
                height:250px;

                &:first-of-type {
                  width:inherit;
                  position:inherit;
                  top:inherit;
                  right:inherit;
                  height:250px;
                }

                &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(6), &:nth-of-type(7) {
                  width:inherit;
                }

                &:nth-of-type(5) {
                  width:inherit;
                  position:inherit;
                  top:inherit;
                  right:inherit;
                  height:250px;
                }
              }
            }

          }
        }
      }

      footer {
        font-size: 75%;
        line-height: 75%;
        padding: 17px;
      }
    }
  }
}
