<div class="block-static-park-map">
  <div class="big-park-map" style="background-color:rgb(225,241,249);">
  </div>
  {{#unless hideLocatorMap}}
  <div class="small-park-map" style="background-color:rgb(225,241,249);">
  </div>
  {{/unless}}
  {{#unless hideDirections}}<button class="action directions-action active">{{#__}}Directions{{/__}}</button>{{/unless}}
</div>
