<div class="block-photo-carousel what-scrollbars">
  <div class="slide-container">
  {{#each park.FlickrPhotos}}
    {{> flickr_coverphoto}}
  {{/each}}
  </div>
  <button class="carousel-back-button">&nbsp;</button>
  <button class="carousel-forward-button">&nbsp;</button>
</div>
