<div class="block-park-name">
  <div class="park-name">{{#if link}}<a href="/park/{{#if superunit_id}}{{superunit_id}}{{else}}{{cpadPark.superunit_id}}{{/if}}">{{/if}}{{unit_name}}{{#if link}}</a>{{/if}}</span></div>
  {{#if activity}}
  {{>block-activity-icons}}
  {{/if}}
</div>
