<ul class="block-activity-icons">
{{#each hipcamp.items}}
  <li style="background-image:url('/style/activity-{{name}}.svg');" title="{{#__}}This park has {{name}}{{/__}}" class="{{category}}">{{name}}</li>
{{/each}}
</ul>
