
<div class="block-activity-filter closed">
  <div class="filter-handle">
    <button class="toggle-activities-drawer-action action"><i></i>{{#__}}Activities{{/__}}{{#if query.with}} (<span class="status">...</span> {{#__}}of{{/__}} 26){{/if}}</button>
    {{#if query.with}}<button class="clear-activities-action action">{{#__}}Clear{{/__}}</button>{{/if}}
    <button class="close-drawer-action action">{{#__}}Close{{/__}}</button>
  </div>
  <ul class="filter-drawer" style="color:white;">
    {{#each activities}}
    <li>
      <button class="toggle-activity-action action {{#if filterState}}selected{{/if}}" data-filter="{{@key}}">
        <div class="activity-icon-container {{category}}"><img src="/style/activity-{{#removeSpaces}}{{@key}}{{/removeSpaces}}.svg"></div>
        <label>{{label}}</label>
      </button>
    </li>
    {{/each}}
  </ul>
</div>
