
<div class="block-activity-filter closed">
  <div class="filter-handle{{#unless query.with}} has{{/unless}}">
    <button class="toggle-activities-drawer-action action"><i></i>{{#__}}Filter by Activity{{/__}} <span class="status-wrapper">(<span class="status">...</span> {{#__}}of{{/__}} 26)</span></button>
    <button class="clear-activities-action action">{{#__}}Clear{{/__}}</button>
    <button class="close-drawer-action action">{{#__}}Close{{/__}}</button>
  </div>
  <ul class="filter-drawer{{#unless query.with}} has{{/unless}}" style="color:white;">
    {{#each activities}}
    <li>
      <button class="toggle-activity-action action {{#if filterState}}selected{{/if}}" data-filter="{{@key}}">
        <div class="activity-icon-container {{category}}"><img src="/style/activity-{{#removeSpaces}}{{@key}}{{/removeSpaces}}.svg"></div>
        <label>{{label}}</label>
      </button>
    </li>
    {{/each}}
  </ul>
</div>
