<div class="block-park-name">
  <div class="park-name"><a href="/park/{{superunit_id}}">{{unit_name}}</a> <span class="distance">{{#if distance}}{{#pluralize}}{{distance}} mile|miles{{/pluralize}}{{/if}}</span></div>
  {{#if activity}}
  {{>block-activity-icons}}
  {{/if}}
</div>
