{{#if has_tweets}}
<link rel="stylesheet" type="text/css" href="/style/standalone-tweet.css">
<div id="tweets">
  <h2><a href="/parks/most-tweets/">#{{hashtag}} on Twitter</a> <span>{{#pluralize}}{{tweet_count}} tweet|tweets{{/pluralize}} by {{#pluralize}}{{tweeter_count}} person|people{{/pluralize}}</span></h2>
  <ul>
  {{#each tweets}}
    <li>{{>twitter_hashtag_post}}</li>
  {{else}}
    <li class="empty">No Tweets</li>
  {{/each}}
  </ul>

  {{#if tweets_queue_count}}<button class="show-more">Show some more tweets</button>{{/if}}
</div>
{{/if}}