{{#if has_foursquare}}
<div id="foursquare-stats">
  <h2><a href="/parks/most-checkins/">People are checking in on Foursquare</a></h2>
  <table>
    <tbody>
      <tr><td>{{venues_count}}</td><td>{{venues_checkins}}</td><td>{{venues_tips}}</td></tr>
    </tbody>
    <tfoot>
      <tr><td>{{#pluralize venues_count}}Venue|Venues{{/pluralize}}</td><td>{{#pluralize venues_checkins}}Check in|Check ins{{/pluralize}}</td><td>{{#pluralize venues_tips}}Tip|Tips{{/pluralize}}</td></tr>
    </tfoot>
  </table>
</div>
{{/if}}