{{#paginationLast}}<div class="pagination-container"><a href="#" class="action" data-pagination="last">{{#__}}Go back a bit{{/__}}</a></div>{{/paginationLast}}

{{#each parks}}
<li data-id="{{superunit_id}}" class="search-result result-{{superunit_id}}">{{>block-park-name}}</li>
{{else}}
<p class="no-results">{{#__}}Having trouble finding a park? <a href="/wander">Here's one</a>{{/__}}.</p>
{{/each}}

{{#if total}}
{{#paginationNext}}<div class="pagination-container"><a href="#" class="action" data-pagination="next">{{#__}}More parks{{/__}}</a></div>{{/paginationNext}}
{{/if}}
