<section id="search-box">
  <form action="/parks/search/" type="get">
    <input type="search" results="5" autosave="STMN-parksforward" name="q" placeholder="{{#__}}Search for parks in California{{/__}}">
    <div class="search-actions">
      <button class="locate-me" title="{{#__}}Find parks near me{{/__}}"><img title="{{#__}}Search{{/__}}" src="/style/locate-me.svg">{{#__}}Locate me{{/__}}</button>
      <button class="go"><img src="/style/spyglass.svg">{{#__}}Search{{/__}}</button>
    </div>
  </form>
</section>