<!DOCTYPE html>
  <head>
    <meta charset="utf-8">

    <title>{{appTitle}}</title>
    <meta name="description" content="Explore the parks of California through the lense of Twitter, Flickr, Instagram, Swarm, and Foursquare.">
    <meta name="author" content="Stamen Design">

    <meta name="viewport" content="width=device-width; initial-scale=1">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="/style/responsive2-main.css" type="text/css" media="screen">
    <script type="text/javascript" src="//use.typekit.net/lgw5hdh.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script src="/js/vendor/jquery/jquery-1.10.2.js"></script>

    {{>tracking}}
  </head>

  <body class="parksforward responsive2" ontouchstart="">

    {{>header-search}}
    <div class="content">
      {{{body}}}
    </div>

    <footer>
      <a href="#the-top">{{#__}}Top{{/__}}</a> | {{#__}}Find out more <a href="/about/">about this project</a>{{/__}} | <a href="/wander?from={{park_id}}">{{#__}}wander{{/__}}</a>{{#if hasAPI}} | <a href="javascript:location.href=location.href+'.json';">JSON</a>{{/if}}
    </footer>

    <script src="/js/main.js"></script>

  </body>
</html>
