/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height:1.5em;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
*  Begin main theme
*/
body.openspaces {
  padding:0 64px 64px 64px;
  font-family: helvetica, arial;
  font-weight: 300;
  font-size: 18px;
  background-color: rgb(68, 51, 32);
  color:rgb(238, 222, 204);
}

body.openspaces.photo-back-template {
  background-color: rgb(33, 17, 0);
  background-image: url('/style/photo-back-template-bg.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: bottom center;
  background-attachment: fixed;
}

body.openspaces.photo-back-template .photo-back-content {
  width:93%;
  margin:0 auto;
  max-width: 1602px;
}

body.openspaces input:focus {
  outline-width: 0;
}

body.openspaces input::-webkit-input-placeholder {
   color:rgba(238, 222, 204,1);
}

body.openspaces input:-moz-placeholder { /* Firefox 18- */
   color:rgba(238, 222, 204,1);
}

body.openspaces input::-moz-placeholder {  /* Firefox 19+ */
   color:rgba(238, 222, 204,1); 
}

body.openspaces input:-ms-input-placeholder {  
   color:rgba(238, 222, 204,1);
}

body.openspaces h1 {
	font-size: 28px;
	font-weight: 600;
	margin-bottom: 5px;
  line-height: 31px;
}

body.openspaces h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
}

body.openspaces.photo-back-template h1 {
	text-align: center;
	color:rgb(255,255,255);
	font-family: "cooper-black-std",sans-serif;
	font-size: 40px;
	margin-bottom: 25px;
}

body.openspaces.photo-back-template p.subhead {
	text-align: center;
	margin-bottom:40px;
  font-size: 25px;
}

body.openspaces header {
	padding: 10px 40px;
	height:20px;
}

body.openspaces.photo-back-template header {
	background-color: rgb(69, 52, 33);
	margin-bottom: 65px;
}

body.openspaces header a {
	text-decoration: none;
	 color:rgb(238, 222, 204);
}

body.openspaces header nav {
	font-size: 16px;
	color:rgb(123, 102, 50);
}

body.openspaces header nav a {
	text-decoration: none;
	 color:rgb(238, 222, 204);
}

body.openspaces.photo-back-template article.about-this-page {
	-moz-column-count:2; /* Firefox */
	-webkit-column-count:2; /* Safari and Chrome */
	column-count:2;
	margin-bottom:40px;
	font-size:15px;
	line-height:20px;
}

body.openspaces section {
	background-color: rgb(238, 222, 204);
	color:rgb(68, 51, 32);
	padding:40px;
	position: relative;
	z-index: 1;
}

body.openspaces.photo-back-template section {
  background-color: transparent;
  color:rgb(205, 186, 150);
}

body.openspaces li {
  margin-left: 20px;
  list-style-type: disc;
}

body.openspaces a {
	color:rgb(133, 187, 225);
}

body.openspaces p.breadcrumb {
	margin-bottom: 20px;
}

body.openspaces .tweets {
	margin-bottom: 20px;
}

body.openspaces #park-hash-tag {
	position:absolute;
	width:269px;
	height:67px;
	background-color: rgb(34, 17, 2);
	top:80px; right:103px;
	color:white;
	text-align: center;
	padding:5px;
	overflow: hidden;
	font-size: 60px;
	font-weight:bolder;
	line-height: 60px;
	z-index: 10;
	font-family: "cooper-black-std",sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 60px;
	line-height: 67px;
}

body.openspaces .has-coverphoto #park-hash-tag {
	position:absolute;
	top:443px; left:103px;
}

/* Flickr cover photo module */
body.openspaces .has-coverphoto #coverphoto {
	height:480px;
	background: no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position:relative;
}

body.openspaces .has-coverphoto #coverphoto span.attribution {
	position:absolute;
	right:20px; bottom:5px;
	background-color:rgba(34, 17, 2,.4);
	padding:10px;
	line-height: 2px;
	font-size:9px;
}

body.openspaces .has-coverphoto #coverphoto span.attribution a {
	text-decoration: none;
}

/* California shape */
body.openspaces #california_shape {
	position: absolute;
	top:80px; left:100px;
}

/* Access type badge */
body.openspaces .access-type-badge {
	display:inline;
	background-color: rgb(132, 188, 225);
	color:white;
	padding:3px;
	font-size: 11px;
	line-height: 11px;
	text-transform:uppercase;
	font-weight: bold;
}

/* search */
body.openspaces header #search {
	top:10px;
	right:90px;
	position:absolute;
	text-decoration: none;
	text-align: right;
	width:700px;
}

body.openspaces header #search input {
	-webkit-appearance: none;
	border:none; 
	cursor: pointer;
	display: inline-block; 
	width: 100;
	background-color: rgb(68, 51, 32);
	font-size: 18px;
  	color:rgba(238, 222, 204,1);
  	font-weight: 200;
  }

body.openspaces header #search a {
	text-decoration: none;
}

body.openspaces header #search-results {
	display:none;
}

body.openspaces header.has-search-results #search-results {
	position:absolute;
	z-index: 2;
	background-color:white;
	color:black;
	font-size:17px;
	padding:3px;
	max-height:50vh;
	overflow-y:auto;
	display:block;
}

body.openspaces header.has-search-results #search-results a {
	color:black;
	text-decoration: none;
}

body.openspaces header.has-search-results #search-results img {
	display:none;
}

body.openspaces header.has-search-results #search-results div {
	padding:3px 10px;
}

body.openspaces header.has-search-results #search-results div:hover {
	background-color:rgb(132, 188, 225);
	cursor: pointer;
}

/* Glop slider */
body.openspaces .glop-slider {
  overflow-x: auto;
}

body.openspaces .glop-slider .glop-park {
  display:inline-block;
  width:200px;
  height:200px;
}

/* Tweets */
body.openspaces #tweets {
  display:inline-block;
  width: 55vw;
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
  background-color: #fff;
  border-radius: 4px;
  padding: 10px;
}

/* Park Shape */
body.openspaces #park-shape {
  display:inline-block;
  
  width:300px;
  height:300px;
}

@media (max-width: 1230px) {
  body.openspaces #tweets {
    width: 40vw;
  }
}

@media (max-width: 928px) {
  body.openspaces {
    padding:0;
	}
  body.openspaces section {
    padding:0;
    padding-top:20px;
  }

  body.openspaces section#park-info {
    padding:40px;
  }

  body.openspaces .has-coverphoto #park-hash-tag {
    position:static;
    width:100%;
  }
  body.openspaces .has-coverphoto #coverphoto {
    height:200px;
  }

  body.openspaces #california_shape {
    top: 80px;
    left: 19px;
  }

  body.openspaces #tweets {
    width: 100%;
    margin:0;
  }

  #search {
    display:none;
  }
}

@media (max-width: 560px) {
  header {
    display:none;
  }
  body.openspaces section {
    padding:0;
    padding-top:0px;
  }
  body.openspaces #park-shape {
  
  width:300px;
  height:300px;
  margin: 20px auto;
}
}
