/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height:1.5em;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
*  Begin main theme
*/
body.openspaces {
  padding:0 64px 64px 64px;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 18px;
  background-color: rgb(68, 51, 32);
  color:rgb(238, 222, 204);
}

body.openspaces.photo-back-template {
  background-color: rgb(33, 17, 0);
  background-image: url('/style/photo-back-template-bg.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: bottom center;
  background-attachment: fixed;
}

body.openspaces.photo-back-template .photo-back-content {
  width:1030px;
  margin:0 auto;
}

body.openspaces .main-content {
  width:1020px;
  margin:0 auto;
  position:relative;
}

body.openspaces input:focus {
  outline-width: 0;
}

body.openspaces input::-webkit-input-placeholder {
   color:rgba(238, 222, 204,1);
}

body.openspaces input:-moz-placeholder { /* Firefox 18- */
   color:rgba(238, 222, 204,1);
}

body.openspaces input::-moz-placeholder {  /* Firefox 19+ */
   color:rgba(238, 222, 204,1); 
}

body.openspaces input:-ms-input-placeholder {  
   color:rgba(238, 222, 204,1);
}

body.openspaces h1 {
	font-size: 28px;
	font-weight: 600;
	margin-bottom: 5px;
  line-height: 31px;
}

body.openspaces h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
}

body.openspaces.photo-back-template h1 {
	text-align: center;
	color:rgb(255,255,255);
	font-family: "cooper-black-std",sans-serif;
	font-size: 40px;
	margin-bottom: 25px;
  line-height:45px;
}

body.openspaces.photo-back-template p.subhead {
	text-align: center;
  margin: 0 auto;
	margin-bottom:40px;
  font-size: 25px;
  width:900px;
}

body.openspaces header {
	padding: 10px 40px;
	height:20px;
  position:relative;
  line-height: 20px;
  width: 940px;
  margin: 0 auto;
}

body.openspaces.photo-back-template header {
	background-color: rgb(69, 52, 33);
  margin:0 auto;
	margin-bottom: 65px;
  max-width: 1602px;
}

body.openspaces header a {
	text-decoration: none;
	 color:rgb(238, 222, 204);
}

body.openspaces header nav {
	font-size: 16px;
	color:rgb(123, 102, 50);
}

body.openspaces header nav a {
	text-decoration: none;
	 color:rgb(238, 222, 204);
}

body.openspaces.photo-back-template article.about-this-page {
	-moz-column-count:2; /* Firefox */
	-webkit-column-count:2; /* Safari and Chrome */
	column-count:2;
	margin-bottom:40px;
	font-size:15px;
	line-height:20px;
  font-size: 18px;
  line-height: 26px;
}

body.openspaces.photo-back-template article.thin {
  width:500px;
  margin:0 auto;
}

body.openspaces section {
	background-color: rgb(238, 222, 204);
	color:rgb(68, 51, 32);
	padding:40px;
	position: relative;
	z-index: 1;
}

body.openspaces.photo-back-template section {
  background-color: transparent;
  color:rgb(238, 222, 204);
}

body.openspaces li {
  margin-left: 20px;
  list-style-type: disc;
}

body.openspaces a {
	color:rgb(133, 187, 225);
}

body.openspaces p.breadcrumb {
	margin-bottom: 20px;
}

body.openspaces .tweets {
	margin-bottom: 20px;
}

body.openspaces #park-hash-tag {
	height:67px;
	background-color: rgb(34, 17, 2);
	top:80px; right:103px;
	color:white;
	text-align: center;
	padding:5px;
	overflow: hidden;
	font-size: 60px;
	font-weight:bolder;
	line-height: 60px;
	z-index: 10;
	font-family: "cooper-black-std",sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 60px;
	line-height: 67px;
}

body.openspaces .has-coverphoto #park-hash-tag {
	position:absolute;
	top: 403px;
  left: 41px;
  width:269px;
}

/* Flickr cover photo module */
body.openspaces .has-coverphoto .coverphoto {
	height:480px;
	background: no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position:relative;
  width: 1018px;
}

body.openspaces #coverphoto-carousel {
    width:1018px;
    height:480px;
  }

body.openspaces .has-coverphoto .coverphoto span.attribution {
	position:absolute;
	right:20px; bottom:5px;
	background-color:rgba(34, 17, 2,.4);
	padding:10px;
	line-height: 2px;
	font-size:9px;
}

body.openspaces .has-coverphoto .coverphoto span.attribution a {
	text-decoration: none;
}

/* California shape */
body.openspaces #california_shape {
	position: absolute;
	top: 255px;
  left: 42px;
}

/* Access type badge */
body.openspaces .access-type-badge {
	display:inline;
	background-color: rgb(132, 188, 225);
	color:white;
	padding:3px;
	font-size: 11px;
	line-height: 11px;
	text-transform:uppercase;
	font-weight: bold;
}

/* Instagram photos */
body.openspaces .main-content #instagram-photos {
  display: inline-block;
  width: 520px;
  vertical-align: top;
  margin-left: 8px; 
  margin-bottom: 40px;
  text-align: right;
}

body.openspaces .main-content #instagram-photos image {
  margin: 0;
  display: inline-block;
}

/* search */
body.openspaces header #search {
	top:5px;
	right:40px;
	position:absolute;
	text-decoration: none;
	text-align: right;
	width:700px;
  color: rgb(123, 102, 50);
}

body.openspaces header #search input {
	-webkit-appearance: none;
	border:none; 
	cursor: pointer;
	display: inline-block; 
	width: 200px;
	background-color: rgb(68, 51, 32);
	font-size: 18px;
  color:rgba(238, 222, 204,1);
  font-weight: 200;
  transition:width,background-color 1s;
}

body.openspaces header #search a {
	text-decoration: none;
}

body.openspaces header #search button {
  border: none;
  background-image: url('/style/icon-search.png');
  width: 29px;
  height: 29px;
  right: 0;
  top: 0;
  position: absolute;
  cursor:pointer;
}

body.openspaces header #search-results {
	display:none;
}

body.openspaces header.has-search-results #search-results {
	position:absolute;
	z-index: 2;
	background-color:white;
	color:black;
	font-size:17px;
	padding:3px;
	max-height:50vh;
	overflow-y:auto;
	display:block;
}

body.openspaces header.has-search-results #search-results a {
	color:black;
	text-decoration: none;
}

body.openspaces header.has-search-results #search-results a:focus {
  border:dotted 1px black;
}

body.openspaces header.has-search-results #search-results img {
	display:none;
}

body.openspaces header.has-search-results #search-results div {
	padding:3px 10px;
}

body.openspaces header.has-search-results #search-results div:hover {
	background-color:rgb(132, 188, 225);
	cursor: pointer;
}

/* Glop slider */
body.openspaces .glop-slider {
  overflow-x: auto;
  height:210px;
  width:100%;
  white-space: nowrap;
  scrollbar:none;
}
body.openspaces .glop-slider::-webkit-scrollbar { width: 0 !important }
body.openspaces .glop-slider::-scrollbar { width: 0 !important }

body.openspaces .not-scrolled .carousel-back-button {
  opacity:0;
  transition:opacity .5s;
}

body.openspaces #park-template-wrapper .carousel-back-button {
  left: 45px;
  top: 165px;
}

body.openspaces .carousel-container .carousel-back-button {
  opacity:1;
  left: 53px;
}

body.openspaces .carousel-container {
  position: relative;
}

body.openspaces .carousel-forward-button, body.openspaces .carousel-back-button {
  background-color: transparent;
  width: 52px;
  height: 52px;
  color: transparent;
  font-size: 31px;
  border:none;
  position: absolute;
  top: 136px;
  cursor: pointer;
}

body.openspaces .carousel-forward-button {
  background-image: url('/style/forward-arrow-normal.png');
}

body.openspaces .carousel-forward-button:hover {
  background-image: url('/style/forward-arrow-hover.png');
}

body.openspaces .carousel-back-button {
  background-image: url('/style/back-arrow-normal.png');
}

body.openspaces .carousel-back-button:hover {
  background-image: url('/style/back-arrow-hover.png');
}


body.openspaces .carousel-forward-button, body.openspaces .carousel-back-button:focus {
  outline-width: 0;
}

body.openspaces .carousel-forward-button {
  transition:opacity .5s;
  opacity:1;
  right: 53px;
}

body.openspaces #park-template-wrapper .carousel-forward-button {
  right: 45px;
  top: 165px;
}

body.openspaces .scrolled-furthest .carousel-forward-button {
  opacity:0;
}

body.openspaces .glop-park {
  display:inline-block;
  width:200px;
  height:200px;
  margin-right: 53px;
  position: relative;
  transition:background-image .5s;
}

body.openspaces .glop-park .hashtag {
  opacity:0;
  transition:opacity .5s;
  position: absolute;
  top: 61px;
  left: 48px;
  color: white;
  background-color: rgb(33, 17, 0);
  padding: 10px;
  font-family: "cooper-black-std",sans-serif;
  font-size: 25px;
  line-height: 44px;
  padding: 0px 10px;
}

body.openspaces .glop-park:hover .hashtag, body.openspaces #view-parks .glop-park .hashtag {
  opacity:1;
}

body.openspaces .glop-park .park-name {
  opacity:0;
  transition:opacity .5s;
  position: absolute;
  top: 110px;
  left: 0px;
  color: white;
  padding: 10px;
  font-size: 15px;
  line-height: 25px;
  padding: 0px 10px;
  text-align: center;
  width:100%;
}

body.openspaces .glop-park:hover .park-name, body.openspaces #view-parks .glop-park .park-name {
  opacity:1;
}

/* Tweets */
body.openspaces #tweets {
  display:inline-block;
  width: 508px;
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
  background-color: #fff;
  border-radius: 4px;
  padding: 10px;
  margin-left: 0px;
}

body.openspaces .has-instagram-photos #tweets {
  margin-left: 6px;
  vertical-align: top;
}

/* Foursquare Stats */
body.openspaces #foursquare-stats {
  display:inline-block;
  width:400px;
  vertical-align: top;
}

body.openspaces .has-instagram-photos.has-tweets #foursquare-stats {
  vertical-align: bottom;
}

body.openspaces #foursquare-stats h2, body.openspaces #foursquare-stats table, tfoot {
  color: rgb(145, 118, 49);
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

body.openspaces #foursquare-stats table {
  width:75%;
  vertical-align: top;
  text-align: center;
}

body.openspaces #foursquare-stats table tbody {
  color: rgb(33, 14, 0);
  font-size: 30px;
  font-weight: 600;
}

body.openspaces #foursquare-stats table tfoot {
  text-transform: capitalize;
}

/* Park Shape */
body.openspaces #park-shape {
  display:inline-block;
  margin-top: 40px;
  width:300px;
  height:300px;
  margin-bottom: 40px;
  position: relative;
}

body.openspaces #park-shape .scale-area {
  position: absolute;
  bottom: -1px;
  left: 0;
  font-size: 11px;
  color: rgb(34, 17, 2);
  text-align: center;
  height: 32px;
}

body.openspaces #park-shape .scale-area .scale-bar {
  margin:0 auto;
  width: 15px;
  height: 15px;
  background-color: rgb(145, 118, 49);
}

@media (max-width: 1230px) {
  body.openspaces #tweets {
    width: 40vw;
  }
}

@media (min-width: 1550px) {
  body.openspaces.photo-back-template .photo-back-content {
    width:1600px;
  }
  body.openspaces.photo-back-template article.about-this-page {
    -moz-column-count:3; /* Firefox */
    -webkit-column-count:3; /* Safari and Chrome */
    column-count:3;
  }

}

@media (max-width: 320px) {
  body.openspaces {
    padding:0;
	}

  body.openspaces.photo-back-template {
    font-size:25px;
    background-size:cover;
    background-position:top -40%; 
  }

  body.openspaces.photo-back-template h1 {
    font-size:25px;
  }

  body.openspaces.photo-back-template p.subhead {
    width:100vw;
    font-size: 15px;
  }

  body.openspaces.photo-back-template p.subhead br {
    display:none;
  }

  body.openspaces.photo-back-template .photo-back-content {
    width:100vw;
  }

  body.openspaces.photo-back-template article.about-this-page {
    -moz-column-count:1; /* Firefox */
    -webkit-column-count:1; /* Safari and Chrome */
    column-count:1;
    text-align: center;
    font-size: 15px;
  }

  body.openspaces section {
    padding:0;
    padding-top:20px;
  }

  body.openspaces #park-info {
    padding:40px;
    width: 400px;
  }

  body.openspaces .has-coverphoto #park-hash-tag {
    position:static;
    width:100%;
  }
  body.openspaces .has-coverphoto .coverphoto {
    height:200px;
  }

  body.openspaces #california_shape {
    top: 255px;
    left: 42px;
  }

  body.openspaces #tweets {
    width: 100%;
    margin:0;
  }

  #search {
    display:none;
  }

  body.openspaces header {
    padding:1px;
    overflow:hidden;
    height:35px;
  }

  body.openspaces header nav {
    font-size:10px;
    padding:0;
  }

  body.openspaces section {
    padding:0;
    padding-top:0px;
  }
  body.openspaces #park-shape {
  
  width:300px;
  height:300px;
  margin: 20px auto;
}
}
