/*
Syntax error: Invalid CSS after "    eot": expected ")", was ":   $font-url +..."
        on line 22 of sass/helpers/_font-source-declaration.scss
        from line 13 of sass/_bourbon.scss
        from line 2 of ./sass/responsive2-main.scss

17:   $font-url) {
18: 
19:   $src: null;
20: 
21:   $formats-map: (
22:     eot:   $font-url + "(\"#{$file-path}.eot?#iefix\")" format("embedded-opentype"),
23:     woff2: $font-url + "(\"#{$file-path}.woff2\")" format("woff2"),
24:     woff:  $font-url + "(\"#{$file-path}.woff\")" format("woff"),
25:     ttf:   $font-url + "(\"#{$file-path}.ttf\")" format("truetype"),
26:     svg:   $font-url + "(\"#{$file-path}.svg##{$font-family}\")" format("svg")
27:   );

Backtrace:
sass/helpers/_font-source-declaration.scss:22
sass/_bourbon.scss:13
./sass/responsive2-main.scss:2
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/scss/parser.rb:1147:in `expected'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/script/lexer.rb:196:in `expected!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/script/parser.rb:483:in `assert_tok'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/script/parser.rb:433:in `paren'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/script/parser.rb:418:in `special_fun'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/script/parser.rb:413:in `raw'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/script/parser.rb:337:in `funcall'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/script/parser.rb:319:in `ident'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/script/parser.rb:228:in `unary_not'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/script/parser.rb:228:in `unary_div'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/script/parser.rb:228:in `unary_minus'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/script/parser.rb:228:in `unary_plus'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/script/parser.rb:209:in `times_div_or_mod'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/script/parser.rb:209:in `plus_or_minus'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/script/parser.rb:209:in `relational'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/script/parser.rb:209:in `eq_or_neq'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/script/parser.rb:209:in `and_expr'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/script/parser.rb:209:in `or_expr'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/script/parser.rb:298:in `space'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/script/parser.rb:283:in `interpolation'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/script/parser.rb:246:in `expr'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/script/parser.rb:477:in `assert_expr'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/script/parser.rb:49:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/scss/parser.rb:1022:in `sass_script'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/scss/parser.rb:514:in `variable'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/scss/parser.rb:552:in `block_child'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/scss/parser.rb:546:in `block_contents'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/scss/parser.rb:535:in `block'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/scss/parser.rb:211:in `function_directive'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/scss/parser.rb:174:in `special_directive'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/scss/parser.rb:146:in `directive'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/scss/parser.rb:553:in `block_child'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/scss/parser.rb:546:in `block_contents'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/scss/parser.rb:82:in `stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/scss/parser.rb:27:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:342:in `_to_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:274:in `to_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:225:in `visit_import'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:227:in `block in visit_import'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:227:in `map'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:227:in `visit_import'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:53:in `map'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/tree/root_node.rb:20:in `render'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:315:in `_render'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:262:in `render'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/plugin/compiler.rb:201:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/plugin/compiler.rb:283:in `block in watch'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/vendor/listen/lib/listen/multi_listener.rb:108:in `call'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/vendor/listen/lib/listen/multi_listener.rb:108:in `on_change'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/vendor/listen/lib/listen/multi_listener.rb:117:in `block in initialize_adapter'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/vendor/listen/lib/listen/adapter.rb:198:in `call'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/vendor/listen/lib/listen/adapter.rb:198:in `report_changes'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/vendor/listen/lib/listen/adapter.rb:210:in `poll_changed_dirs'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/vendor/listen/lib/listen/adapters/darwin.rb:38:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"    eot\": expected \")\", was \":   $font-url +...\"\A         on line 22 of sass/helpers/_font-source-declaration.scss\A         from line 13 of sass/_bourbon.scss\A         from line 2 of ./sass/responsive2-main.scss\A \A 17:   $font-url) {\A 18: \A 19:   $src: null;\A 20: \A 21:   $formats-map: (\A 22:     eot:   $font-url + \"(\\"#{$file-path}.eot?#iefix\\")\" format(\"embedded-opentype\"),\A 23:     woff2: $font-url + \"(\\"#{$file-path}.woff2\\")\" format(\"woff2\"),\A 24:     woff:  $font-url + \"(\\"#{$file-path}.woff\\")\" format(\"woff\"),\A 25:     ttf:   $font-url + \"(\\"#{$file-path}.ttf\\")\" format(\"truetype\"),\A 26:     svg:   $font-url + \"(\\"#{$file-path}.svg##{$font-family}\\")\" format(\"svg\")\A 27:   );"; }
