/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height:1.5em;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
*  Begin main theme
*/
body.openspaces {
  padding:0 64px 64px 64px;
  font-family: helvetica, arial;
  font-weight: 300;
  font-size: 18px;
  background-color: rgb(68, 51, 32);
  color:rgb(238, 222, 204);
  min-width: 589px
}

body.openspaces h1 {
	font-size: 28px;
	font-weight: 600;
	margin-bottom: 5px;
}

body.openspaces header {
	padding: 10px 40px;
	height:20px;
}

body.openspaces header nav {
	font-size: 16px;
	color:rgb(123, 102, 50);
}

body.openspaces header nav a {
	text-decoration: none;
	 color:rgb(238, 222, 204);
}

body.openspaces section {
	background-color: rgb(238, 222, 204);
	color:rgb(68, 51, 32);
	padding:40px;
	position: relative;
	z-index: 1;
}

body.openspaces li {
  margin-left: 20px;
  list-style-type: disc;
}

body.openspaces a {
	color:rgb(238, 222, 204);
}

body.openspaces p.breadcrumb {
	margin-bottom: 20px;
}

body.openspaces .tweets {
	margin-bottom: 20px;
}

body.openspaces #park-hash-tag {
	position:absolute;
	width:269px;
	height:67px;
	background-color: rgb(34, 17, 2);
	top:80px; right:103px;
	color:white;
	text-align: center;
	padding:5px;
	overflow: hidden;
	font-size: 60px;
	font-weight:bolder;
	line-height: 60px;
	z-index: 10;
	font-family: "cooper-black-std",sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 60px;
	line-height: 67px;
}

body.openspaces .has-coverphoto #park-hash-tag {
	position:absolute;
	top:443px; left:103px;
}

/* Flickr cover photo module */
body.openspaces .has-coverphoto #coverphoto {
	height:480px;
	background: no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position:relative;
}

body.openspaces .has-coverphoto #coverphoto span.attribution {
	position:absolute;
	right:20px; bottom:5px;
	background-color:rgba(34, 17, 2,.4);
	padding:10px;
	line-height: 2px;
	font-size:9px;
}

body.openspaces .has-coverphoto #coverphoto span.attribution a {
	text-decoration: none;
}

/* California shape */
body.openspaces #california_shape {
	position: absolute;
	top:80px; left:100px;
}

/* Access type badge */
body.openspaces .access-type-badge {
	display:inline;
	background-color: rgb(132, 188, 225);
	color:white;
	padding:3px;
	font-size: 11px;
	line-height: 11px;
	text-transform:uppercase;
	font-weight: bold;
}