// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}


body {}

.container {
  @include container();
  max-width: $max-width;
}

main {
  background: $color-grey-dark;
  color: $color-white;
}

a {
  color: $color-blue;
}

// slick gallery
.slider-home.slick-slider {
  margin-bottom: 0;
}

.slick-slide {
  position: relative;
  margin: 0 4px;
}

.slick-slide img.error {
  display: none;
}

.slider-home .slick-slide img {
  max-height: 332px;
  width: 100%;
  height: auto;
}

.slider-recent .slick-slide img {
  max-height: 332px;
  max-width: 332px;
  width: 332px;
  height: auto;
}

.slick-next {
  right: 0;
}

.slick-prev{
  left: 0;
}

.slick-slide .overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.6);
  width: 100%;
  color: $color-white;

  p {
    height: 32px;
    margin: 0;
    padding: 0 10px;
    font-size: 1.2rem;
    line-height: 32px;
    text-transform: uppercase;
  }

  a {
    color: $color-white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &::after {
      content:' ';
      position: relative;
      display: inline-block;
      top: 3px;
      vertical-align: text-top;
      width: 0;
      height: 0;
      margin-left: 8px;
      border-style: solid;
      border-width: 5px 0 5px 10px;
      border-color: transparent transparent transparent $color-white;

    }
  }
}

// locale switcher
.locale-switcher {
  position: fixed;
  right:5px;
  top: 5px;
  z-index: $depth-10;

  a {
    text-decoration: none;
    line-height: 1;
    margin-left: 5px;
    padding: 5px;
    color: $color-base;
    background: rgba(255,255,255,0.6);

    &:hover {
      text-decoration: underline;
    }

    &.active {
      pointer-events: none;
      opacity: 0.6;
    }
  }
}

// full page scrolling
body {
  height: 100vh;
  overflow: hidden;
}

.container {
  height: 100vh;
  transition: transform 1s ease;
}

.container.sub-section {
  transform: translate3d(0px,-864px,0px);
}
.container.goto-home {
  transform: translate3d(0px,0px,0px);
}

.fullpage {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.sub-nav {
  position: absolute;
  background: #fff;
  width: 100%;
  height: auto;
  color: black;
  text-align: center;
  height: 66px;

  h1 {
    line-height: 66px;
    margin: 0;
    font-weight: 400;
    text-transform: uppercase;

    a {
      text-decoration: none;
    }
  }
}

.sub-view {
  position: relative;
  top: 74px;
  height: calc(100vh - 74px);
  padding: 15px 8px 8px;

  &.theme-white {
    background-color: #fff;
    color: #000;
  }

  .arrow {
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -8px;
    border-style: solid;
    border-width: 8px 8px 0 8px;
    border-color: $color-grey-dark transparent transparent transparent;
  }
}

.example-enter {
  opacity: 0.01;
  transition: opacity 1s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}

.example-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.example-leave.example-leave-active {
  opacity: 0;
}