// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}


body {}

.container {
  @include container();
  max-width: $max-width;
}

main {
  background: $color-grey-dark;
  color: $color-white;
}

a {
  color: $color-blue;
}

.btn {
  display: inline-block;
  padding: 6px 10px;
  margin-bottom: 0;
  background: transparent;
  background-image: none;
  border: 1px solid transparent;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;

  svg {
    display: inline-block;
    vertical-align: middle;
    line-height: 0;
  }
}

.btn:focus {
  outline: 0;
}

// slick gallery
.slick-slider {
  display: none;
  margin-bottom: 0;
}
.slick-initialized.slick-slider {
  display: block;
}

.slick-slide {
  position: relative;
  margin: 0 4px;
}

.slick-slide img.error {
  display: none;
}

.slider-home .slick-slide img {
  max-height: 332px;
  width: 100%;
  height: auto;
}

.slider-recent .slick-slide img {
  max-height: 332px;
  max-width: 332px;
  width: 332px;
  height: auto;
}

.slick-next {
  right: 0;
}

.slick-prev{
  left: 0;
}

.slick-slide .overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.6);
  width: 100%;
  color: $color-white;

  p {
    height: 32px;
    margin: 0;
    padding: 0 10px;
    font-size: 1.2rem;
    line-height: 32px;
    text-transform: uppercase;
  }

  a {
    color: $color-white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &::after {
      content:' ';
      position: relative;
      display: inline-block;
      top: 3px;
      vertical-align: text-top;
      width: 0;
      height: 0;
      margin-left: 8px;
      border-style: solid;
      border-width: 5px 0 5px 10px;
      border-color: transparent transparent transparent $color-white;

    }
  }
}

// locale switcher
.locale-switcher {
  position: fixed;
  right:5px;
  top: 5px;
  z-index: $depth-10;

  a {
    text-decoration: none;
    line-height: 1;
    margin-left: 5px;
    padding: 5px;
    color: $color-base;
    background: rgba(255,255,255,0.6);

    &:hover {
      text-decoration: underline;
    }

    &.active {
      pointer-events: none;
      opacity: 0.6;
    }
  }
}

.theme-white {
  background: white;
  color: black;
}

.sub-nav {
  position: relative;
  background: #fff;
  width: 100%;
  height: auto;
  color: black;
  text-align: center;
  height: 66px;

  h1 {
    line-height: 66px;
    margin: 0;
    font-weight: 400;
    text-transform: uppercase;

    a {
      text-decoration: none;
    }
  }
}

#explore {
  height: 700px;

  &>div {
    height: 100%;
  }
}