// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}


body {}

.container {
  @include container();
  max-width: $max-width;
}

main {
  background: $color-grey-dark;
  color: $color-white;
}

a {
  color: $color-blue;
}

.btn {
  display: inline-block;
  padding: 6px 10px;
  margin-bottom: 0;
  background: transparent;
  background-image: none;
  border: 1px solid transparent;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;

  svg {
    display: inline-block;
    vertical-align: middle;
    line-height: 0;
  }

  &:focus {
    outline: 0;
  }

  &:disabled {
    opacity: 0.5;
  }
}

.theme-white {
  background: white;
  color: black;
}

.sticky {
  z-index: $depth-10 !important;
}
.sub-nav {
  position: relative;
  background: #fff;
  border-bottom: 10px solid $color-grey-dark;
  width: 100%;
  height: auto;
  color: black;
  text-align: center;
  height: 76px;

  &::after {
    content:' ';
    position: absolute;
    display: block;
    bottom: -18px;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -4px;
    border-style: solid;
    border-width: 8px 8px 0 8px;
    border-color: $color-grey-dark transparent transparent transparent;
    z-index: 1;
  }

  h1 {
    line-height: 66px;
    margin: 0;
    font-weight: 400;
    text-transform: uppercase;

    a {
      text-decoration: none;
    }
  }

  &.alt {
    height: 76;
    border-bottom: 0;

    &::after {
      bottom: -8px;
      border-color: #fff transparent transparent transparent;
    }

  }
}

.sticky-container.stuck {
  height: 76px;

  .sub-nav {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 9999999;
  }
}

.zoom-control-container {
  -webkit-user-select: none;
  margin-right: 10px;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
  border-radius: 2px;
  cursor: pointer;
  width: 28px;
  height: 55px;
  color: #EEEFF3;
  background-color: #33322E;
  background-color: rgba(51, 50, 46, 0.6);
  line-height: 0;

  .zoom-in,.zoom-out {
    position: relative;
    width: 28px;
    height: 27px;
    left: 0px;
    top: 0px;
    font-size: 2rem;
    line-height: 27px;
    text-align: center;
  }

  .divider {
    position: relative;
    overflow: hidden;
    width: 80%;
    height: 1px;
    left: 10%;
    top: 0px;
    background-color: #C4C4C4;
  }

  .icon-wrap {
    overflow: hidden;
    position: absolute;
    width: 15px;
    height: 15px;
    left: 7px;
    top: 6px;
  }

}

.SectionContainer,
.section {
  position: relative;
}

#discover-section {
  overflow: hidden;
}