// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

.hide {
  display: none;
}

.pos-relative {
  position: relative;
}

.block { display: block; }
.inline-block { display: inline-block; }
.inline { display: inline; }
.table { display: table; }
.table-row { display: table-row; }
.table-cell { display: table-cell; }
.align-middle { vertical-align: middle; }

.height-full {
  height: 100%;
}

.uppercase {
  text-transform: uppercase;
}

.link-plain {
  text-decoration: none;
  color: $color-grey-dark;

  &:hover {
    text-decoration: underline;
  }
  &>sub {
    bottom: 0;
  }
}

.error {
  color: #ff0099;
  text-decoration: blink;

  &:after {
    content: '¯\_(ツ)_/¯';
    display: inline-block;
    unicode-bidi: embed;
    font-family: monospace;
    white-space: pre;
    margin-left: 10px;
    vertical-align: text-bottom;
  }
}

.row { @include row(); }
.col-one { @include columns(1); }
.col-two { @include columns(2); }
.col-three { @include columns(3); }
.col-four { @include columns(4); }
.col-five { @include columns(5); }
.col-six { @include columns(6); }
.col-seven { @include columns(7); }
.col-eight { @include columns(8); }
.col-nine { @include columns(9); }
.col-ten { @include columns(10); }
.col-eleven { @include columns(11); }
.col-twelve { @include columns(12); }


.center-align-container {
  display: block;
  width: 60%;
  margin: 0 auto;

  h4 {
    margin: 2.5rem 0 1.3rem;
  }

  .description {
    margin: 0 0 4.5rem;
  }
}
.dropdown-filter {

  .label {
    margin: 0 0 5px;
    text-transform: uppercase;
  }
  .dropdown {}
}


.loading-data {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin-top: -1.5rem;
  z-index: 10;
  opacity: 1;
  text-align: center;
  transition: opacity 100ms linear;

  h3 {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    width: auto;
    padding: 0 2rem;
    color: #666;
    font-size: 2rem;
    line-height: 8rem;
    white-space: nowrap;
    background: rgba(255, 255, 255, 0.75);
    font-weight: 400;
    border-radius: 4rem;
  }
}

.scroll-helper-arrow {
  position: relative;
  height:8px;
  width: 100%;
  background: $color-white;

  &::before {
    content:' ';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -4px;
    border-style: solid;
    z-index: 1;
  }

  &.dark {
    background: $color-grey-dark;
  }

  &.down::before {
    border-width: 8px 8px 0 8px;
    border-color: $color-grey-dark transparent transparent transparent;
  }

  &.down.dark::before {
    border-color: $color-white transparent transparent transparent;
  }

  &.up::before {
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent $color-grey-dark transparent;
  }


}