// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

.hide {
  display: none;
}

.pos-relative {
  position: relative;
}
.height-full {
  height: 100%;
}

.row { @include row(); }
.col-one { @include columns(1); }
.col-two { @include columns(2); }
.col-three { @include columns(3); }
.col-four { @include columns(4); }
.col-five { @include columns(5); }
.col-six { @include columns(6); }
.col-seven { @include columns(7); }
.col-eight { @include columns(8); }
.col-nine { @include columns(9); }
.col-ten { @include columns(10); }
.col-eleven { @include columns(11); }
.col-twelve { @include columns(12); }
.col-thirteen { @include columns(13); }
.col-fourteen { @include columns(14); }
.col-fifteen { @include columns(15); }
.col-sixteen { @include columns(16); }