$green: #4CAF50;
$blue: #2196F3;
$lgtBlue: #00BCD4;
$purple: #9C27B0;
$orange: #FF9F00;
$brown: #8C6D62;

.icon {
  display: inline-block;
  width: 25px;
  height: 25px;

  &.stamen {
    width: 120px;
    height: 27px;
  }

  &.green-info {
    width: 105px;
    height: 49px;
  }

  &.resource-fund {
    width: 202px;
    height: 47px;
  }

  &.parks-forward {
    width: 55px;
    height: 49px;
  }

  &.park-activity {
    width: 40px;
    height: 40px;
    color: #fff;
  }

  &.park-activity.large {
    width: 125px;
    height: 125px;
  }

  &.prev-arrow,
  &.next-arrow {
    stroke: #fff;
    width: 18px;
    height: 34px;
  }

  &.prev-arrow.small,
  &.next-arrow.small {
    width: 9px;
    height: 17px;
  }

  &.right-triangle {
    width: 8px;
    height: 8px;
  }
}

.icon.park-activity {
  &.backpacking,
  &.biking,
  &.camping,
  &.covered_picnic_tables,
  &.hiking,
  &.horsebackriding,
  &.ohv,
  &.rusticcabins,
  &.wildlifewatching {
    fill: $green;
  }

  &.ball_fields,
  &.basketball,
  &.tennis {
    fill: $orange;
  }

  &.historicalsite {
    fill: $brown;
  }

  &.boardsports,
  &.boating,
  &.fishing,
  &.kayakingcanoeing,
  &.swimming {
    fill: $blue;
  }

  &.snowsports {
    fill: $lgtBlue;
  }

  &.dogs,
  &.playground {
    fill: $purple;
  }
}

.hoverable:hover .icon.park-activity,
li:hover .icon.park-activity,
.icon.park-activity.alt {
  &.backpacking,
  &.biking,
  &.camping,
  &.covered_picnic_tables,
  &.hiking,
  &.horsebackriding,
  &.ohv,
  &.rusticcabins,
  &.wildlifewatching {
    fill: #fff;
    color: $green;
  }

  &.ball_fields,
  &.basketball,
  &.tennis {
    fill: #fff;
    color: $orange;
  }

  &.historicalsite {
    fill: #fff;
    color: $brown;
  }

  &.boardsports,
  &.boating,
  &.fishing,
  &.kayakingcanoeing,
  &.swimming {
    fill: #fff;
    color: $blue;
  }

  &.snowsports {
    fill: #fff;
    color: $lgtBlue;
  }

  &.dogs,
  &.playground  {
    fill: #fff;
    color: $purple;
  }
}

.right-triangle {
  font-family: monospace;
}