<div id="park-template-wrapper" class="{{# if coverPhoto}}has-coverphoto {{/if}}">

	{{>flickr_coverphoto}}
	<div id="park-hash-tag">#BZZT</div>
	<div id="california_shape"></div>
	<section>
		<h1>There's nothing to see at this location. We're just working with California parks at the moment.</h1>
		<p>If you'd like to see more parks across the United States in the system, or if you're a mega-rich-benevolent-dot-com-boomer-approaching-tax-time, or if you work at the National Park Service or another government Parks-related agency somewhere else in the world, do please get in touch! We will take your money, Ahem.</p>

		<div id="park-shape"></div>
	</section>

</div>

