
<style>
h3 {
display: block;
font-size: 1.17em;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
font-weight: bold;
}
strong {
color: #fff;
font-weight:600;
}
</style>
<h1 style="margin-bottom: 64px;">About this Site</h1>

<article class="thin">
  <p><strong>Our hope is that this project helps park rangers and staff to find those stories,
and to clearly show how people are enjoying parks across California.</strong></p>

 <h3>Why</h3>

  <p>Stories pour out of our parks every day. This project is a first step towards visualizing <a href="http://twitter.com">Twitter</a>, <a href="http://flickr.com">Flickr</a>, <a href="http://instagram.com">Instagram</a>, and <a href="http://foursquare.com">Foursquare</a> content using the actual boundaries of our parks, so that we can start to understand how people feel about their favorite open spaces. Taken together these stories make plain that parks are integral to the lives of all Californians. They are evidence for the argument that access to open space must be protected—and expanded—for all and that parks need our support. This is also a tool that park rangers, managers, and advocates can use to understand how people are using parks and to connect with their customers and supporters.</p>

  <h3>What</h3>
  <p>parks.stamen.com is built on the idea that we can search for social media content that originates within a park's literal boundaries. By doing a precise geo-spatial search across the four web services we've selected, we can look for content that was created within the parks themselves, which is pretty cool. We are also introducing the idea of using the National Parks Service’s four-letter identifiers—much like airport codes!—as hashtags so people can mark their content in a specific park.</p>

  <p>The two simple organizing principles here look like this: <strong>California</strong> → <strong>Park and Agency</strong> → <strong>Park</strong>. But, the fun part is—we think—that you can also move sideways in the hierarchy based on a simple "social media rank." So, for example, you can navigate across an ordered list of parks by acreage, by photo count, by tweet count, by check-ins, or by some combination of those things. We've been trying to show what we all know to be true: even very small parks can be interesting, important, and popular.</p>

  <p>You can also search for a park you know, or hit “<a href="/wander">wander</a>” at the top of the page to find somewhere you've probably never seen before. (There are about 13,000 parks in California!)</p>

  <h3>How</h3>

  <p>There are a few different ways you can participate, depending on your point of view:</p>

  <p>As a <em><strong>park ranger or manager</strong></em>, you might like to tell visitors that they can direct content to you by using your park's hashtag. For example, if you take a photo in Yosemite, tag it with #YOSE, and parks.stamen.com will be able to find it. You might like to use your park's hashtag on your marketing materials, or download the free park boundary to create new park schwag! Imagine a t-shirt or a sticker that has your park's outline and hashtag on it! We're hoping that this might be a way to help build community around individual parks. Just like people already purchase gear for their favorite sports teams, why not buy a t-shirt to show that you love your favorite park?</p>

  <p>If you're a <em><strong>park visitor</strong></em>, you can use a park's hashtag to place your content into the parks.stamen.com site, for everyone to see. While it’s great fun to explore parks this way, it's also really important for staff to understand and demonstrate use of their parks, and this is a great way to do it!</p>

  <h3>Who</h3>

  <p>This project is a partnership between <a href="http://stamen.com">Stamen Design</a> and the Electric Roadrunner Lab.</p>

  <p>In November 2013, we ran a workshop about the project with colleagues from the <a href="http://parksconservancy.org/">Golden Gate Parks Conservancy</a>, <a href="http://www.nwf.org/">National Wildlife Federation</a>, <a href="http://www.ebparks.org/">East Bay Regional Park District</a>, <a href="http://www.openspacecouncil.org/">Bay Area Open Space Council</a>, <a href="http://www.sdbjrfoundation.org/">Stephen D. Bechtel, Jr. Foundation</a>, <a href="http://www.calparks.org/">California State Parks Foundation</a>, <a href="http://latinooutdoors.org/">Latino Outdoors</a>, and the <a href="http://www.nps.gov/pore/index.htm">Point Reyes National Seashore</a>. It was a really informative day for us, as we listened and learned about how some of the folks who work in California's parks are using social media today and might be able to use this site to understand how people are using their parks and connect with their users.</p>

  <p>The site's structure rests on the shoulders of the <a href="http://www.calands.org/">California Protected Areas Database (CPAD)</a>, so we'd like to say a big thank you to Larry Orman and his team at <a href="http://www.greeninfo.org/">GreenInfo Network</a> for making it available to the world.</p>

  <p>Thanks also to the <a href="http://www.sandiegoairandspace.org/">San Diego Air and Space Museum</a> for the <a href="http://www.flickr.com/photos/sdasmarchives/9373850726/">lovely photo of Yosemite</a> we used as our homepage backdrop, and <a href="http://thenounproject.com/jamison/">Jamison Wieser</a> from the Noun Project for our <a href="http://thenounproject.com/term/arrow/5438/">handsome arrow icon</a>.</p>

  <h3>Contact</h3>

  <p><a href="mailto:parks@stamen.com">parks@stamen.com</a></p>
  <br><br>
</article>