<div id="content" class="template-{{view}}">
  <p class="site-description">
    Go outside and discover California's parks
  </p>
  {{>block-search-box}}
  <p class="story-header">
    Check out some of our favorites:
  </p>
  {{>block-stories-flexy}}
</div>
