<div id="content" class="template-{{view}}">
  <p class="site-description">
    Go outside and discover the beautiful parks and open spaces of California
  </p>
  {{>block-search-box}}
  <p class="story-header">
    ...or check out these curations of parks by our staff
  </p>
  {{>block-stories-flexy}}
</div>
