<section id="stories">

  <div>
    <ul>
      {{#each stories}}
        <li>
          {{>block-story this}}
        </li>
      {{/each}}
    </ul>
  </div>

</section>
<script src="/js/view_home.js"></script>
