
<script>
  (function(window) {

    if(location.hash && location.hash.length > 1) {

      var suIdsByHashtag = {{{suIdsByHashtagJSON}}};

      if(Object.keys(suIdsByHashtag).length) {

        location.href = suIdsByHashtag[location.hash.substring(1).toUpperCase()] ? '/park/' + suIdsByHashtag[location.hash.substring(1).toUpperCase()] : '/404';

      }

    }

  }(window))
</script>

<div style="opacity:0;height:0;width:0;overflow:hidden;">
<img src="/style/forward-arrow-normal.png">
<img src="/style/forward-arrow-hover.png">
<img src="/style/back-arrow-normal.png">
<img src="/style/back-arrow-hover.png">
</div>

<h1>Stories pour out of our parks every day.</h1>

<p class="subhead">Our hope is that this project helps park rangers and staff to find those stories, <br>
and to clearly show how people are enjoying parks across California.</p>

<article class="about-this-page">
  The idea is pretty simple. We’ve taken the actual shape of all the parks in California and used that to look at four social media sites for content. We’re looking at <a href="http://www.twitter.com/">Twitter</a>, <a href="http://www.flickr.com/">Flickr</a>, <a href="http://instagram.com/">Instagram</a> & <a href="http://foursquare.com/">Foursquare</a> and there’s a lot to see! For the first time, you can explore parks by something other than geography too, which is great fun.
</article>

<section>
  <div class="carousel-container not-scrolled">
    <h2>Explore giant parks to tiny parks...</h2>
    <article class="glop-slider" id="size-glop-slider">
      {{#each parks}}
        {{>glop_park}}
      {{/each}}
    </article>
    <button class="carousel-back-button">←</button>
    <button class="carousel-forward-button">→</button>
  </div>

  <div class="carousel-container not-scrolled">
    <h2>Which parks are most tweeted about?</h2>
    <article class="glop-slider" id="tweets-glop-slider">
      {{#each most_tweets.parks}}
        {{>glop_park}}
      {{/each}}
    </article>
    <button class="carousel-back-button">←</button>
    <button class="carousel-forward-button">→</button>
  </div>

  <div class="carousel-container not-scrolled">
    <h2>Which are the most photogenic parks?</h2>
    <article class="glop-slider" id="photos-glop-slider">
      {{#each most_photographed.parks}}
        {{>glop_park}}
      {{/each}}
    </article>
    <button class="carousel-back-button">←</button>
    <button class="carousel-forward-button">→</button>
  </div>

  <div class="carousel-container not-scrolled">
    <h2>Where are people checking in?</h2>
    <article class="glop-slider" id="checkins-glop-slider">
      {{#each most_checkins.parks}}
        {{>glop_park}}
      {{/each}}
    </article>
    <button class="carousel-back-button">←</button>
    <button class="carousel-forward-button">→</button>
  </div>
</section>

<script src="/js/vendor/topojson.v1.min.js"></script>
<script src="/js/vendor/d3.v3.min.js"></script>
<script src="/js/park_shape.js"></script>
<script src="/js/view_home.js"></script>

