
<script>
  (function(window) {

    if(location.hash && location.hash.length > 1) {

      var suIdsByHashtag = {{{suIdsByHashtagJSON}}};

      if(Object.keys(suIdsByHashtag).length) {

        location.href = suIdsByHashtag[location.hash.substring(1).toUpperCase()] ? '/park/' + suIdsByHashtag[location.hash.substring(1).toUpperCase()] : '/404';

      }

    }

  }(window))
</script>

<h1>Stories pour out of our parks every day.</h1>

<p class="subhead">Our hope is that this project helps park rangers and staff to find those stories, <br>
and to clearly show how people are enjoying parks across California.</p>

<article class="about-this-page">
  The idea is pretty simple. We’ve taken the actual shape of all the parks in California and used that to look at four social media sites for content. We’re looking at <a href="http://www.twitter.com/">Twitter</a>, <a href="http://www.flickr.com/">Flickr</a>, <a href="http://instagram.com/">Instagram</a> & <a href="http://foursquare.com/">Foursquare</a> and there’s a lot to see! For the first time, you can explore parks by something other than geography too, which is great fun.
</article>

<section>
  <h2>Explore giant parks to tiny parks...</h2>
  <article class="glop-slider" id="size-glop-slider">
    {{#each parks}}
      {{>glop_park}}
    {{/each}}
  </article>
</section>

<div style="text-align:center;margin-top:40px;"><a href="/agencies">Check out some more parks!</a></div>

<script src="/js/vendor/topojson.v1.min.js"></script>
<script src="/js/vendor/d3.v3.min.js"></script>
<script src="/js/park_shape.js"></script>
<script src="/js/view_home.js"></script>

