

<section id="search-box">
  <form action="/parks/search/" type="get">
    <input type="search" results="5" autosave="STMN-parksforward" name="q" placeholder="Search for parks in California">
    <div class="search-actions">
      <button class="locate-me" title="Find parks near me"><img title="Search" src="/style/locate-me.svg">Locate me</button>
      <button class="go"><img src="/style/spyglass.svg">Search</button>
    </div>
  </form>
</section>

<section id="stories" style="height:500px;">

  <div>
    Stories go here
  </div>
  
</section>

<script>
if (!window.STMN) {
  window.STMN = {};
}
window.STMN.parkShapes = {
  parksQueue             : {{{parksQueue}}},
  most_photographedQueue : {{{most_photographedQueue}}},
  most_tweetsQueue       : {{{most_tweetsQueue}}},
  most_checkinsQueue     : {{{most_checkinsQueue}}}
}
window.STMN.glopTemplate = '{{>glop_park-js}}';
</script>
<script src="/js/view_home.js"></script>
