<div id="content" class="template-{{view}}">
  <p class="site-description">
    {{#__}}Go outside & discover California&#8217;s parks{{/__}}
  </p>
  {{>block-search-box}}
  <p class="story-header">
    {{#__}}Check out some of our favorites:{{/__}}
  </p>
  {{>block-stories-flexy}}
</div>
