<div id="view-parks">
  <h1>{{appTitle}}</h1>

  <div style="text-align:center;margin-top:20px;">
  {{#each parks}}
    {{>glop_park}}
  {{/each}}

  {{#if empty}}
    There are no parks to be found here. <a href="/wander">Here is one</a>.
  {{/if}}
  </div>
  }
</div>