<p>Parks in <a href="/">California</a> > <a href="/agency/{{agency_id}}">{{park_data.agncy_name}}</a> > {{park_data.unit_name}}</p>
<p>This park has {{total_photos}} Flickr photos</p>

{{# each photos}}

	{{> flickr_photo}}

{{/each}}