<div id="view-parks">
  
  <div style="text-align:left;margin-left:43px;">
    <h1 style="font-size:42px;font-family:'HelveticaNeue','Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;text-align:left;margin-bottom:0px;">{{appTitle}}</h1>
    <div>I am a subnav</div>
  </div>

  <div style="text-align:center;margin-top:20px;">
  {{#each parks}}
    {{>glop_park}}
  {{/each}}

  {{#if empty}}
    There are no parks to be found here. <a href="/wander">Here is one</a>.
  {{/if}}
  </div>
  }
</div>