<script>
var locationParts = location.href.split('/');
if (locationParts[4] === 'near' && !locationParts[5]) {
  document.addEventListener('DOMContentLoaded', function() {document.getElementById('view-parks').innerHTML = '<div style="margin-left: 45px;">Finding you...</div>';});

  navigator.geolocation.getCurrentPosition(function(l) {
    location.href='/parks/near/'+l.coords.latitude+','+l.coords.longitude;
  },
  function() {
    location.href='/parks/near/37.7484,-122.4156';
  });
}
</script>

<div class="content template-{{view}}">

  <div>
    <h1>Parks with "{{appTitle}}" in the name</h1>
  </div>

  <div  id="parks">
    <ul class="search-results">
      {{#each parks}}
          <li>{{>block-park-name}}</li>
      {{/each}}

      {{#if empty}}
        {{#__}}There are no parks to be found here. <a href="/wander">Here is one</a>{{/__}}.
      {{/if}}
    </ul>
  </div>

</div>
