.activity-grid {
  margin-left: -5px;
  /* margin-bottom: 3.5rem; */

  &.no-data {
    margin-left: 0;
  }

  .link {
    display: inline-block;
  }

  .btn {
    padding: 5px;
  }

  @include respond-to('full') {

  }
}