.locale-switcher {
  position: relative;

  a {
    display: inline-block;
    text-decoration: none;
    line-height: 1;
    margin-left: 5px;
    padding: 5px;
    color: $color-base;
    background: rgba(255,255,255,0.6);

    &:hover {
      text-decoration: underline;
    }

    &.active {
      display: none;
      pointer-events: none;
      opacity: 0.6;
    }
  }
}