.photo-grid {
  position: relative;
  height: 160px;
  overflow: hidden;

  .inner {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .photo {
    position: relative;
    float: left;
    width: 160px;
    height: 160px;
    margin:  0 5px 5px;
    cursor: pointer;
    overflow: hidden;

    &.selected {
      cursor: default;
    }
  }

  img {
    width: 100%;
    height: auto;
  }

  .photo.selected img {
    border: 7px solid #fff;
  }

}