.slick-slider {
  display: none;
  margin-bottom: 0;
}
.slick-initialized.slick-slider {
  display: block;
}

.slick-slide {
  position: relative;
  margin: 0 4px;
}

.slick-slide img.error {
  display: none;
}

.slider-home .slick-slide img {
  max-height: 332px;
  width: 100%;
  height: auto;
}

.slider-recent {
  max-height: 332px;
  white-space: nowrap;
  overflow: hidden;
}

.slider-recent img {
  max-height: 332px;
  max-width: 332px;
  width: 332px;
  height: auto;
  overflow: hidden;
}

.slider-recent .slide-container {
  float: left;
}

.slick-next {
  right: 0;
}

.slick-prev{
  left: 4px;
}

.slick-slide .overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.6);
  width: 100%;
  color: $color-white;

  p {
    height: 32px;
    margin: 0;
    padding: 0 10px;
    font-size: 1.2rem;
    line-height: 32px;
    text-transform: uppercase;
  }

  a {
    color: $color-white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &::after {
      content:' ';
      position: relative;
      display: inline-block;
      top: 3px;
      vertical-align: text-top;
      width: 0;
      height: 0;
      margin-left: 8px;
      border-style: solid;
      border-width: 5px 0 5px 10px;
      border-color: transparent transparent transparent $color-white;

    }
  }
}

// buttons
.slick-prev,
.slick-next {
  width: 46px;
  height: 58px;
  background: rgba(0,0,0,0.5);
  margin-top: -23px;
}

.slick-prev:before,
.slick-next:before {
  display: block;
  content: ' ';
  background-size: 19px 36px;
  width: 19px;
  height: 36px;
  margin: 0 auto;
  stroke: #fff;
}

:hover.slick-prev:before,
:hover.slick-next:before {
  opacity: 0.5;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: #fff;
  background: rgba(0,0,0,0.5);
}

.slick-prev:before {
  background-image: url("/assets/svgs/prev-arrow.svg");
}

.slick-next:before {
  background-image: url("/assets/svgs/next-arrow.svg");
}