#activity {
  .content {
    padding: 10px 0;

    .inset {
      width: 90%;
      margin: 2rem auto 0;
    }
  }

  .map-wrap {
    height: 100%;
    padding: 0 5px;
  }

  .activity-hero {
    position: relative;
    width: 90%;
    margin: 0 auto;
    padding: 10px 0;

    img {
      display: none;
      width: 100%;
      height: auto;
      opacity: 0.8;
    }
  }

  .activity-logo {
    position: relative;


    a {
      position: relative;
      display: block;
      color: #fff;
      white-space: nowrap;
      text-transform: uppercase;
      margin-top: 0;
      font-size: 1.4rem;
      text-decoration: none;
    }

    .icon {display: none;}
  }

  .small-hero {
    h4,p {margin-bottom: 10px;}
  }

  .title {
    display: none;
  }

  .park-list {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: auto;

    li {
      font-size: 1.4rem;
      color: #5d5c5a;
      cursor: pointer;

      &.selected,
      &:hover {
        color: #EEEFF3;
      }

      &.selected {
        cursor: default;
      }

      a {
        text-decoration: none;
        color: inherit;
        margin-left: 5px;
        margin-top: 20px;
      }
    }
  }

  .navigator {
    top: 8px;
    right: 8px;
  }


  &.tab-list #section-map {
    display: none;
  }

  &.tab-map #section-list {
    display: none;
  }

  @include respond-to('full') {

    .content {
      padding: 10px 10px;
    }

    .map-wrap {
      padding: 0;
    }

    .activity-hero {
      margin-right: 1rem;
      width: auto;
      padding: 0;

      img {
        display: inline;
      }
    }

    .small-hero {display: none;}

    .activity-logo {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -62.5px;
      margin-left: -62.5px;

      a {
        position: absolute;
        top: 100%;
        left: 0;
        text-align: center;
      }

      .icon {display: inline-block;}
    }

    .title {
      display: block;
    }

     &.tab-list #section-map {
      display: block;
    }

    &.tab-map #section-list {
      display: block;
    }

    .tabs {
      display: none;
    }
  }

}

.tabs {
    display: block;
    background: $color-grey-dark;

    .tabs-inner {
      padding: 5px;
    }

    button {
      position: relative;
      width: 50%;
      background-color: #0A0A08;
      text-transform: uppercase;
      font-weight: 300;
      color: #434343;
    }

    button.active {
      color: $color-white;
    }

    button:first-child::after {
      content: ' ';
      position: absolute;
      top: 0;
      right: -1px;
      width: 2px;
      height: 100%;
      background: $color-grey-dark;
    }
  }