// 413 x 206

#discover {

  ol {
    margin: 0;
    padding: 0;
  }

  .blocks {
    padding: 10px;
  }

  .block {
    position: relative;
    float: left;

    // 1.32:1 (165:125)
    &.hero {
      @include aspect-ratio(165, 125);
    }

    // 660x320
    // 2.06:1 (165:80)
    &.activity {
      font-size: 0;
      line-height: 1;
      cursor: pointer;
      overflow: hidden;
      @include aspect-ratio(165, 80);
    }

    &.col-four {
      margin-left: 0.5%;
      margin-bottom: 0.5%;
      width: 33%;
    }

    &.col-four:first-child,
    &.col-four.new-row {
      margin-left: 0;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      transition: background $transition-duration $transition-ease;
    }

    &.activity:hover .overlay {
      background: rgba(0, 0, 0, 0);
    }

    .label-wrap {
      position: absolute;
      top: 50%;
      height: 80px;
      width: 100%;
      margin-top: -40px;
      transition: background $transition-duration $transition-ease;
    }

    & .icon.park-activity {
      transition: all $transition-duration $transition-ease $transition-ease;
    }

    &.activity:hover .label-wrap {
      background: rgba(0,0,0,0.6) !important;
    }

    .table {
      position: absolute;
      height: 100%;
      width: 100%;
      table-layout: fixed;
      z-index: 1;
    }

    .table-cell {
      text-align: left;
      vertical-align: middle;
    }

    .activity-icon {
      width: 49px;
      padding-left: 8%;
    }

    .activity-name {
      font-size: 2.4rem;
      text-transform: uppercase;
      font-weight: 400;
      padding-left: 10%;
    }

    img {
      width: 100%;
      max-width: 100%;
    }
  }

}
