// 413 x 206

#discover-section {
  padding-top: 76px;
  padding-bottom: 0;

  .wrapper {
    overflow: hidden;
  }

  ol {
    margin: 0;
    padding: 0;
  }

  .blocks {
    padding: 10px;
  }

  .center-align-container .description {
    margin-bottom: 0;
  }

  .activity-blocks {
    position: relative;
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .block {
    position: relative;
    float: left;

    // 1.32:1 (165:125)
    &.hero {
      @include aspect-ratio(165, 125);
    }

    // 2.06:1 (165:80)
    &.activity {
      font-size: 0;
      line-height: 1;
      cursor: pointer;
      overflow: hidden;
      // @include aspect-ratio(165, 80);
    }

    &.col-six {
      margin-left: 0;
      margin-bottom: 0;
      width: 100%;
    }

    &.col-six:first-child,
    &.col-six.new-row {
      margin-left: 0;
    }

    & .aspect-content {
      height: 100%;
      background-size: cover;
      background-position: 50% 50%;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      transition: background $transition-duration $transition-ease;
    }

    .label-wrap {
      position: absolute;
      top: 50%;
      height: 80px;
      width: 100%;
      margin-top: -40px;
      transition: background $transition-duration $transition-ease;
    }

    & .icon.park-activity {
      transition: all $transition-duration $transition-ease $transition-ease;
    }

    .table {
      position: absolute;
      height: 100%;
      width: 100%;
      table-layout: fixed;
      z-index: 1;
    }

    .table-cell {
      text-align: left;
      vertical-align: middle;
    }

    .activity-icon {
      width: 49px;
      padding-left: 55px;
    }

    .activity-name {
      font-size: 2.4rem;
      text-transform: uppercase;
      font-weight: 400;
      padding-left: 55px;
    }

    img {
      width: auto;
      height: 100%;
      max-width: 100%;
    }

    .activity-link {
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
      color: $color-white;
    }

    @include respond-to('full') {
      &.col-six {
        margin-left: 5px;
        margin-bottom: 5px;
        width: 49.5%;
      }

      .activity-icon {
        padding-left: 8%;
      }

      .activity-name {
        padding-left: 10%;
      }

      &.activity:hover .overlay {
        background: rgba(0, 0, 0, 0);
      }

      &.activity:hover .label-wrap {
        background: rgba(0,0,0,0.6) !important;
      }
    }
  }

  .slick-prev, .slick-next {
    position: absolute;
    top: 50%;
    left: 0;
    height: 58px;
    margin-top: -29px;
    background: transparent;
    z-index: $depth-2;
  }

  .slick-next {
    right: 0;
    left: auto;
  }

  @include respond-to('full') {
    .activity-blocks {
      padding: 5px 0 0;
    }

    .center-align-container .description {
      margin-bottom: 1.5rem;
    }

    .slick-prev, .slick-next {
      display: none;
    }

    .hoverable {
      &:hover .activity .overlay {
        background: rgba(0, 0, 0, 0);
      }

      &:hover .activity .label-wrap {
        background: rgba(0,0,0,0.6) !important;
      }
    }
  }

}

.activity-navigation.block.col-six {
  display: none;
  position: absolute !important;
  bottom: 0;
  right: 0;

  .table {
    height: 100%;
  }

  .table-cell {
    text-align: center !important;
    font-size: 2.4rem;

    span {
      display: inline-block;
      text-transform: uppercase;
      line-height: 1;
      vertical-align: middle;
      cursor: default;
    }

    button {}
  }

  .btn:disabled {
    visibility: hidden;
  }

  @include respond-to('full') {
    & {
      display: block;
    }

  }
}
