#explore-section {
  padding-top: 0px;
  padding-bottom: 0;
  height: 700px;

  .wrapper {
    position: relative;
    padding-bottom: 4px;

    & > div {
      position: relative;
      height: 100%;
    }
  }

  .navigator {
    top: 8px;
    right: 8px;
  }
}