$section-padding: 4rem;

.page-faq {
  padding-top: 2rem;
  font-size: 1.4rem;
  color: $color-grey-dark;

  & .table {
    width: 100%;
    table-layout: fixed;
  }

  & .table .table-cell {
    vertical-align: top;
  }

  & .table .table-cell:first-child {
    width: 66.66667%;
  }

  & .table .table-cell:last-child {
    width: 33.33333%;
  }

  a {
      text-decoration: none;
      color: $color-grey-dark;
    }
}

.faq-items {
  width: 90%;
  margin: 0 auto;
}

#faq-section .faq-menu {
  margin-bottom: 4rem;


  li::before {
    content: '>';
    position: inline;
    margin-right: 10px;
  }

  a {
    font-weight: 300;

    &:hover {
      text-decoration: underline;
    }
  }
}

.faq-content {
  h5 {
    font-size: 1.4rem;
    text-transform: uppercase;
  }
  h5::before {
    content: '▲';
    position: inline;
    margin-right: 10px;
  }

  li {
    margin-bottom: 4rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.faq-images {
  display: none;
  position: relative;
  height: 100%;

  ul {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-right: 10px;
  }

  li {
    width: auto;
    margin-bottom: 8px;
    overflow: hidden;
    background-size: cover;
    background-position: 50% 50%;
  }

  li:last-child {
    margin-bottom: 0;
  }

  @include respond-to('full') {
    display: table-cell;
  }
}