.footer {
  height: auto;

  [class^="col-"] {
    height: 100%;
  }

  a {
    text-decoration: none;
    color: $color-base;

    &:hover {
      text-decoration: underline;
    }
  }

  .table {
    height: 100%;
    width: 100%;

    .table-cell {
      height: auto;
      text-align: center;
      vertical-align: middle;
    }

    button {display: inline;}
  }

  .footer-logos {
    margin: 5px 0 1rem 0;
    float: right;

    .table {
      display: block;
      width: 80%;
      margin: 0 auto;
      text-align: center;
    }

    .table-cell {
      display: inline-block;
      width: auto;
      text-align: left;
      padding-right: 8%;
    }
    .table-cell:last-child {
      padding-right: 0;
    }
  }

  .footer-actions {
    float: left;
    border-bottom: 2px solid $color-grey-dark;
  }

  @include respond-to('full') {
    & {
      height: 90px;
    }

    .footer-logos {
      float: left;
      margin: 0;

      .table {
        display: table;
        width: 100%;
        margin: 0;
        text-align: left;
      }

      .table-cell {
        display: table-cell;
        width: auto;
        text-align: center;
        padding-right: 0;
      }
    }

    .footer-actions {
      float: right;
      border-bottom: none;
    }
  }
}