
.page-park-top,
.page-park-bottom {
  padding: 0 10px 0;
}

.page-park-top {
  margin-top: 10px;
  overflow: hidden;

  .col {
    width: 33.3333%;
    height: 100%;
    padding: 0;
    float: left;

    &.details .inner {
      width: 80%;
      margin: 0 auto 0;
      padding-top: 1rem;
    }

    &.map .inner {
      padding: 0 10px;
    }
  }

  .inner {
    position: relative;
    height: 100%;
    min-height: 330px;
  }
  /*
  .col:nth-child(1) { margin-left: 33.3333%; background: #ccc; }
  .col:nth-child(2) { margin-left: -66.6666%; background: #eee; }
  .col:nth-child(3) { left: 0; background: #eee; }
  */

 & .photo img {
  border: 7px solid $color-grey-dark;
  height: auto;
  width: 100%;
  max-width: 100%;
 }

 & .photo .instagram-logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  background: url('/assets/svgs/icon-instagram.svg') 0 0 no-repeat;
  background-size: cover;
  z-index: 1;
 }

 .share {
  position: absolute;
  bottom: 0;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: left;
    }

    li {
      display: inline-block;
      vertical-align: middle;
    }

    li + li {
      &:before {
        content: '-';
        display: inline-block;
        margin: 0 4px;
      }
    }
 }
}

.page-park-bottom {
  width: 100%;
  margin-top: 10px;
  padding: 10px 5px;
  background: $color-grey-dark;

  .table-cell {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
}
