

.page-park-top {
  margin: 1.5rem 10px 0;
  overflow: hidden;

  .col {
    width: 33.3333%;
    height: 100%;
    padding: 0;
    float: left;

    &.details .inner {
      width: 80%;
      margin: 0 auto;
    }

    &.map .inner {
      padding: 0 10px;
    }
  }

  .inner {
    position: relative;
    height: 100%;
    min-height: 330px;
  }
  /*
  .col:nth-child(1) { margin-left: 33.3333%; background: #ccc; }
  .col:nth-child(2) { margin-left: -66.6666%; background: #eee; }
  .col:nth-child(3) { left: 0; background: #eee; }
  */

 & .photo img {
  border: 7px solid $color-grey-dark;
  height: auto;
  width: 100%;
  max-width: 100%;
 }

 .share {
  position: absolute;
  bottom: 0;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: left;
    }

    li {
      display: inline-block;
      vertical-align: middle;
    }

    li + li {
      &:before {
        content: '-';
        display: inline-block;
        margin: 0 4px;
      }
    }
 }
}
