.page-park {
  .scroll-helper-arrow {
    background: $color-grey-dark;
  }

  @include respond-to('full') {
    &.no-images main {
      padding-bottom: 0;
    }

    .scroll-helper-arrow {
      background: $color-white;
    }
  }
}

.page-park-wrapper {
  position: relative;
  margin-top: 10px;
  padding: 0;
  @include clearfix;

  .col {
    width: 100%;
    height: 100%;
    padding: 0;

    &.details .inner {
      width: 90%;
      margin: 0 auto 2rem;
      padding-top: 1rem;
    }

    &.map {
      position: relative;
      background: $color-grey-dark;
      padding: 0 5px;
    }

    &.map .inner {
      padding: 0 0;
      width: 100%;
    }

    .tab-map &.map .inner {
      display: block;
      position: relative;
      left: 0;
    }

    .tab-photos &.map .inner {
      position: absolute;
      left: -9999999px;
    }

    .no-images &.map .inner {
      padding: 0 0;
    }
  }

  .inner {
    position: relative;
    height: 100%;
    min-height: auto;
  }

  .selected-photo {
    display: none;
  }

  .no-images & .selected-photo {
    display: none;
  }

  & .selected-photo a.block {
    text-decoration: none !important;
  }

  & .selected-photo img {
    border: 7px solid $color-grey-dark;
    height: auto;
    width: 100%;
    max-width: 100%;
  }

  & .selected-photo .instagram-logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background: url('/assets/svgs/icon-instagram-30x30.svg') 0 0 no-repeat;
    background-size: cover;
    z-index: 1;
  }

 .share {
  position: absolute;
  bottom: 0;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: left;
    }

    li {
      display: inline-block;
      vertical-align: middle;
    }

    li + li {
      &:before {
        content: '-';
        display: inline-block;
        margin: 0 4px;
      }
    }
 }

  .tabs {
    display: block;
    background: $color-grey-dark;

    .tabs-inner {
      padding: 5px;
    }

    button {
      position: relative;
      width: 50%;
      background-color: #0A0A08;
      text-transform: uppercase;
      font-weight: 300;
      color: #434343;
    }

    button.active {
      color: $color-white;
    }

    button:first-child::after {
      content: ' ';
      position: absolute;
      top: 0;
      right: -1px;
      width: 2px;
      height: 100%;
      background: $color-grey-dark;
    }
  }

  @include respond-to('full') {
    & {
      padding: 0 1rem 1rem;
    }

    .inner {
      min-height: auto;
    }

    .selected-photo {
      display: block;
    }

    .col {
      width: 33.3333%;
      float: left;

      &.details .inner {
        width: 80%;
        margin-bottom: 0;
      }

      &.map {
        position: static;
        height: 100%;
        background: transparent;
        padding: 0;
      }

      &.map .inner {
        padding: 0 10px;
      }

      .tab-photos &.map .inner {
        position: relative;
        left: 0;
      }
    }

    .tabs {
      display: none;
    }
  }
}

.park-slider-container {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  margin-top: 0;
  padding: 0;
  background: $color-white;
  overflow: hidden;

  .tab-map & {
    position: absolute;
    left: -9999999px;
  }

  .tab-photos & {
    position: relative;
    left: 0;
  }

  .slider-inner {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: $color-grey-dark;
  }

  .no-images & {
    display: none;
  }
}

.park-slider {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;

  .loader {
    position: absolute;
    display: none;
    top: 0;
    left: -9999999px;
    width: 100%;
    height: 100%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    z-index: $depth-5;
  }

  &.loading .loader {
    display: block;
  }

  .slick-slide {
    cursor: pointer;
  }

  .slick-slide.selected {
    cursor: pointer;
  }

  .slick-slide {
    margin: 0;

    a {
      display: block;
      border: 0;
      text-decoration: none;
    }
  }

  .slick-prev {
    left: 0;
  }
}

.park-slider .slick-slide.selected img {
  border: none;
}

.park-slider .slick-slide img {
  width: 100%;
  height: auto;
}

.involved-link {
  margin-top: -1.4rem;
}

@include respond-to('full') {
  .park-slider-container {
    position: absolute;
    top: 100%;

    .tab-map & {
      position: relative;
      left: 0;
    }

    .tab-photos & {
      position: absolute;
      left: 0;
    }

    .slider-inner {
      margin: 0;
      padding: 0 1rem 0 6px;
    }
  }

  .park-slider {
    .slick-slide {
      margin: 0 4px;
    }

    .slick-prev {
      left: 0;
    }

    .slick-slide.selected {
      cursor: default;
    }
  }

  .park-slider .slick-slide img {
    width: 160px;
    max-height: 160px;
  }

  .park-slider .slick-slide.selected img {
    border: 7px solid #0a0a08;
  }
}
